In [1]:
import numpy as np
import pandas as pd
import math
from helper.loader import load_ratings, load_movies, load_lists, load_corr
from helper.preprocesser import preprocess_ratings
import helper.network_explorer as ne
import helper.collaborative as coll
import cupy as cp
import cupyx
from tqdm import tqdm

## Preprocessing cf Jonas

In [2]:
ratings = load_ratings()
movies = load_movies()
lists = load_lists()

In [3]:
ratings_new, lists_new = preprocess_ratings(ratings, lists, min_ratings = 500)
print(f'{round((len(ratings) - len(ratings_new)) / len(ratings) * 100, 2)} % of ratings removed (out of {len(ratings)})')
print(f'{round((len(lists) - len(lists_new)) / len(lists) * 100, 2)} % lists removed (out of {len(lists)})')

47.91 % of ratings removed (out of 15459945)
58.93 % lists removed (out of 80311)

In [4]:
print("ratings new len {}, index user_id from {} to {}, movie_id from {} to {}".format(len(ratings_new),ratings_new["user_id"].min(),np.max(ratings_new["user_id"]),ratings_new["movie_id"].min(),np.max(ratings_new["movie_id"])))

ratings new len 8052995, index user_id from 2941 to 99988538, movie_id from 1 to 263709

In [5]:
print("{} unique users rate {} unique movies".format(ratings_new["user_id"].nunique(),ratings_new["movie_id"].nunique()))

6547 unique users rate 136555 unique movies

In [6]:
print("{} unique users created {} unique list".format(lists_new["user_id"].nunique(),lists_new["list_id"].nunique()))

3106 unique users created 32983 unique list

## User-item matrix 

The sparse version:

- faster
- lighter in memory
- cleaner
- no index/columns naming possibilities

The dense version:

- DataFrame so more used
- way more data...
- manipulate with care because that thing is killing kernel after kernel... :D

In [7]:
dense_user_item = coll.get_dense_user_item(ratings_new)

dense_user_item

,1,2,3,4,5,6,7,8,9,10,...,263678,263682,263685,263688,263689,263692,263693,263701,263708,263709
2941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99909118,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99927639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99942902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99950057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99988538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sparse_user_item,user_id,movie_id = coll.get_sparse_user_item(ratings_new)

In [9]:
print(user_id)
print(movie_id)
sparse_user_item

[    2941    14464    15344 ... 99942902 99950057 99988538]
[     1      2      3 ... 263701 263708 263709]

<6547x136555 sparse matrix of type '<class 'numpy.float64'>'
	with 8052975 stored elements in Compressed Sparse Row format>

## Correlation

### Approach

Static (compute all the correlation once):

- long process
- memory consumption during matrix 
- not realistic (the ratings may change)
- extremely fast at inference (lookup table)

Dynamic (when asked, compute all the correlation between one of the user and the others):

- slower at inference
- must be computed each time we want a recommendation
- the user-item matrix can be modified with new ratings -> changes taken into account

### Implementation

Sparse:

- no correlation (pearsonr consider the 0 as a value of 0 instead of ignoring)

Pandas:

- corr is extremely slow 

Numpy:

- doesn't work with NaN, if replaced by 0, consider it as a value of 0 instead of ignoring it (impact the rating average and therefore the Pearson correlation coefficient)

### Decision

- Ran once the correlation with pandas to get the complete user-user correlation matrix which is saved and now available (WARNING: replace all the diagonal values of 1 with 0 to avoid taking into account itself). Extremely fast (basically a value look up)
- Implement the user-users correlation if we want to run for a specific user on a modified user-item matrix (still quite fast ~2sec for gaining the possibility to change the ratings and adapt the corr)

In [10]:
correlation_matrix = load_corr()

In [11]:
correlation_matrix

,2941,14464,15344,29237,78410,83575,94978,99812,114207,118503,...,99842199,99845748,99866338,99866452,99869481,99909118,99927639,99942902,99950057,99988538
2941,0.000000,0.180883,0.455090,0.324109,0.438966,0.142645,0.318194,0.343710,0.257014,0.306580,...,0.293498,0.113829,0.234693,0.339208,0.252182,0.327150,0.444337,0.342765,0.042680,0.400991
14464,0.180883,0.000000,0.168324,0.180878,0.034347,0.032793,0.095701,0.050917,0.103081,-0.037541,...,0.151123,0.071456,0.134331,0.184118,0.146321,0.146878,0.216887,0.290084,0.026588,0.077703
15344,0.455090,0.168324,0.000000,0.342190,0.439753,-0.038968,0.241974,0.284743,0.185410,0.270044,...,0.349389,0.215421,0.222203,0.335984,0.276928,0.148763,0.454404,0.351177,0.121245,0.388434
29237,0.324109,0.180878,0.342190,0.000000,0.310913,0.034585,0.310180,0.221524,0.139391,0.184467,...,0.305879,0.042415,0.358378,0.215187,0.177015,0.215797,0.436691,0.163031,0.148984,0.348098
78410,0.438966,0.034347,0.439753,0.310913,0.000000,0.094151,0.405524,0.261443,0.145734,0.247828,...,0.387691,0.223250,0.330389,0.309805,0.323445,0.337737,0.510442,0.349845,-0.030461,0.464165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99909118,0.327150,0.146878,0.148763,0.215797,0.337737,0.064197,0.389983,0.362495,0.136374,0.344308,...,0.325487,0.071251,0.282040,0.285459,0.050702,0.000000,0.324746,0.265419,0.133017,0.332724
99927639,0.444337,0.216887,0.454404,0.436691,0.510442,0.256607,0.460343,0.456266,0.233540,0.044746,...,0.338277,0.344320,0.380061,0.527994,0.253761,0.324746,0.000000,0.393622,0.076607,0.534535
99942902,0.342765,0.290084,0.351177,0.163031,0.349845,0.000000,0.283869,0.301925,0.047731,-0.116750,...,0.031551,0.260236,0.199393,0.388187,0.138173,0.265419,0.393622,0.000000,0.247024,0.231132
99950057,0.042680,0.026588,0.121245,0.148984,-0.030461,-0.010737,0.206570,0.216791,0.145257,0.131435,...,0.098022,0.053073,0.088702,-0.109035,-0.099000,0.133017,0.076607,0.247024,0.000000,0.081648
99988538,0.400991,0.077703,0.388434,0.348098,0.464165,0.161287,0.423959,0.420860,0.326794,0.218557,...,0.320079,0.219518,0.272258,0.280864,0.242080,0.332724,0.534535,0.231132,0.081648,0.000000

In [12]:
corr_test_1 = coll.get_k_similar_users(correlation_matrix,2941,K = 200)

In [13]:
corr_test_1

,88953139,79410098,607820,76437799,50596997,52537817,14361993,79308895,14343424,37367509,...,13008832,29028584,76113303,27933874,24603322,9235437,53761570,71779215,90024115,5366442
2941,0.752096,0.662893,0.639772,0.637455,0.609387,0.597889,0.596845,0.592807,0.591678,0.589577,...,0.487219,0.486749,0.486683,0.486235,0.486059,0.485904,0.485871,0.485865,0.485756,0.485648

In [14]:
corr_test_2 = coll.get_k_dynamic_similar_users(dense_user_item,2941,K = 200)

In [15]:
corr_test_2

,88953139,79410098,607820,76437799,50596997,52537817,14361993,79308895,14343424,37367509,...,13008832,29028584,76113303,27933874,24603322,9235437,53761570,71779215,90024115,5366442
2941,0.752096,0.662893,0.639772,0.637455,0.609387,0.597889,0.596845,0.592807,0.591678,0.589577,...,0.487219,0.486749,0.486683,0.486235,0.486059,0.485904,0.485871,0.485865,0.485756,0.485648

## Popularity

Judge the popularity of user by the number of followers for its list

In [16]:
popularity = coll.get_popularity(lists_new,dense_user_item)

In [17]:
popularity

          popularity
2941        0.000000
14464       0.000000
15344       0.000000
29237       0.000000
78410       0.001207
...              ...
99909118    0.013594
99927639    0.000000
99942902    0.000000
99950057    0.000000
99988538    0.000753

[6547 rows x 1 columns]

In [18]:
k_popu = coll.get_k_popularity(popularity,corr_test_2)
k_popu

,88953139,79410098,607820,76437799,50596997,52537817,14361993,79308895,14343424,37367509,...,13008832,29028584,76113303,27933874,24603322,9235437,53761570,71779215,90024115,5366442
popularity,0.0,0.0,0.000269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000724,0.0,0.0,0.000181,0.0

## Recommendation

In [19]:
popu_matrix = coll.get_popularity(lists_new,dense_user_item)
popu_matrix

          popularity
2941        0.000000
14464       0.000000
15344       0.000000
29237       0.000000
78410       0.001207
...              ...
99909118    0.013594
99927639    0.000000
99942902    0.000000
99950057    0.000000
99988538    0.000753

[6547 rows x 1 columns]

# test

In [22]:
test_weight = corr_test_1

test_user = 2941

test_matrix = dense_user_item

test_average = coll.compute_average_ratings(dense_user_item)

In [21]:
test_weight

,88953139,79410098,607820,76437799,50596997,52537817,14361993,79308895,14343424,37367509,...,13008832,29028584,76113303,27933874,24603322,9235437,53761570,71779215,90024115,5366442
2941,0.752096,0.662893,0.639772,0.637455,0.609387,0.597889,0.596845,0.592807,0.591678,0.589577,...,0.487219,0.486749,0.486683,0.486235,0.486059,0.485904,0.485871,0.485865,0.485756,0.485648

In [41]:
dense_user_item.loc[test_weight.columns.values]

number_of_nan = dense_user_item.loc[test_weight.columns.values].isna().sum()
print(len(number_of_nan))
possible_index = number_of_nan[number_of_nan <= 195]
possible_index

136555

Int64Index([     1,     10,     11,     12,     13,     14,     15,     21,
                25,     26,
            ...
            238671, 238988, 240428, 241025, 241524, 241947, 242224, 249720,
            254687, 255150],
           dtype='int64', length=10239)

In [42]:
prediction = []
norm = False
for movie in tqdm(possible_index.index.values):

    if np.isnan(dense_user_item.loc[test_user,movie]):

        if norm:
            prediction.append([movie,coll.predict_value_norm(test_user,movie,test_weight,dense_user_item,test_average)])
        else:
            prediction.append([movie,coll.predict_value(test_user,movie,test_weight,dense_user_item,test_average)])

100%|██████████| 10239/10239 [00:39<00:00, 259.63it/s]

In [24]:
test_weight.shape[1]

200

In [40]:
prediction = np.array(prediction)
pred = pd.DataFrame(prediction[:,1],index=prediction[:,0])
    
recommendation = pred.nlargest(10,columns=0)

recommendation.rename(columns={0:"prediction"},inplace=True)
recommendation.index = recommendation.index.astype(int)

recommendation

        prediction
23369     4.933355
441       4.857540
3027      4.855849
185418    4.843423
406       4.842156
771       4.835325
172222    4.834533
2142      4.829196
161305    4.828839
1919      4.824794

In [38]:
prediction

[[1, 4.008861010690103],
 [10, 4.28846862713263],
 [12, 4.597746892476789],
 [13, 3.9550913362270985],
 [14, 4.596961411793808],
 [15, 3.9018184878334443],
 [21, 4.470873116495435],
 [25, 3.662309123973032],
 [26, 3.6176605359955034],
 [30, 4.089000607998235],
 [44, 4.610710473116762],
 [46, 3.4089128963381836],
 [47, 3.6374676055461093],
 [50, 4.098156491795781],
 [55, 2.8078739007559963],
 [61, 3.0426363793838314],
 [69, 3.3296681203205636],
 [73, 3.840384765628484],
 [77, 3.514036116344589],
 [85, 4.3381487441530435],
 [89, 4.098657673553749],
 [91, 4.078939940555216],
 [93, 4.212805233304131],
 [94, 3.5197809483693665],
 [95, 3.2036495403750083],
 [99, 2.897245256826953],
 [103, 3.818322289304548],
 [104, 4.144998904585574],
 [105, 3.8277126716007914],
 [106, 3.5041367237581516],
 [109, 3.4384293734967883],
 [110, 3.6193221632036616],
 [111, 3.7489739309798313],
 [113, 3.933410172408555],
 [116, 4.334281750439405],
 [119, 2.801750869330594],
 [121, 3.8079953300261575],
 [122, 4.047241850320254],
 [124, 3.4606262089332085],
 [125, 2.5585745650901686],
 [126, 3.6971685731409716],
 [128, 3.8292293724509245],
 [129, 3.6340345786272006],
 [135, 4.168750310664341],
 [136, 4.156789915592103],
 [139, 3.683231083573816],
 [140, 4.068189589983621],
 [142, 4.0117391925394035],
 [145, 3.6288990078842884],
 [146, 3.502867060199124],
 [152, 4.3904021485765305],
 [153, 4.584033754286542],
 [155, 4.369422771299273],
 [156, 3.5760616176765287],
 [157, 4.0023445294669955],
 [158, 3.7930948623724885],
 [160, 4.207414208907334],
 [168, 4.052390504345142],
 [176, 4.569673453230903],
 [177, 4.248418908260072],
 [179, 4.474030504202458],
 [181, 3.89338998723963],
 [182, 3.7897771277237506],
 [184, 4.527830032531221],
 [207, 4.238623068908097],
 [212, 4.062013224205915],
 [214, 4.38274889012945],
 [215, 3.753441620395997],
 [216, 4.237384953086069],
 [219, 3.772775810720719],
 [220, 4.285847606756267],
 [222, 3.4261763913802503],
 [223, 3.497208016408228],
 [224, 3.4486899495487875],
 [225, 3.184878581615788],
 [228, 4.7962225075581815],
 [229, 4.240311287751924],
 [232, 3.129638182170471],
 [233, 4.561628206920566],
 [234, 4.001734510396995],
 [235, 4.253812495468451],
 [238, 4.710230994848631],
 [241, 3.676580685146054],
 [242, 4.228823110702939],
 [244, 4.200749718933277],
 [245, 4.010894925978444],
 [246, 3.851448984356107],
 [248, 4.40809386837146],
 [249, 3.6718896294936725],
 [250, 4.099344322138122],
 [259, 3.8289420890287373],
 [260, 3.5452208713850544],
 [262, 3.7413276991793567],
 [265, 4.118216757169292],
 [269, 3.122826672374155],
 [272, 3.669640005897711],
 [273, 3.166771023317179],
 [278, 3.2276194691134785],
 [286, 4.276275134079119],
 [287, 3.9462946321658507],
 [292, 3.32201213232822],
 [293, 4.150658829057283],
 [294, 4.174651611636161],
 [295, 4.514206651431143],
 [296, 4.541957301054129],
 [297, 4.3430196205417895],
 [298, 4.7415977283387045],
 [300, 4.6291699241072894],
 [302, 4.560394810848339],
 [304, 4.543077887086586],
 [306, 4.149705484236987],
 [309, 3.978525526305935],
 [311, 3.858190119353418],
 [312, 3.8435530202264174],
 [316, 3.7093438915340213],
 [317, 3.91120968255304],
 [319, 4.1851553001557305],
 [326, 3.7594325342697323],
 [327, 3.9084724270704228],
 [328, 3.6338236457657622],
 [329, 4.579670644600642],
 [330, 3.994534442573271],
 [331, 3.320564292194118],
 [332, 4.019550178789315],
 [333, 3.914388883237232],
 [334, 4.011577879904751],
 [335, 4.128915933644787],
 [336, 3.7287707867088096],
 [337, 4.160558051601366],
 [341, 4.43169168529772],
 [342, 4.063830592599405],
 [343, 4.411631224063013],
 [344, 3.9362972756724166],
 [345, 4.357338947901897],
 [346, 3.6935094888083695],
 [347, 4.603113301847182],
 [348, 4.00137583045437],
 [349, 3.879445950136269],
 [350, 4.190310807162682],
 [351, 4.557341666308666],
 [352, 4.148535539381814],
 [353, 4.576892506000647],
 [354, 4.25649334585293],
 [356, 4.360818801427228],
 [357, 4.134830815301536],
 [358, 3.9433802384439676],
 [359, 4.519880828439168],
 [360, 3.901241651774111],
 [364, 4.329516575541385],
 [367, 4.671019329746408],
 [368, 3.605388678437949],
 [370, 4.66238887999062],
 [371, 4.407948655023812],
 [373, 4.549170495696999],
 [376, 4.0781638603613155],
 [378, 3.615513964108568],
 [381, 3.589995015620665],
 [386, 4.1879448357373645],
 [387, 3.8012476463003884],
 [388, 3.1899665013091734],
 [389, 4.126458901757581],
 [390, 2.6872535435147373],
 [391, 4.036484381315209],
 [392, 3.8375838718138193],
 [395, 3.810090933620693],
 [399, 3.754687304050654],
 [400, 3.819591644019263],
 [401, 4.605312509918814],
 [402, 3.9873652134795914],
 [403, 3.8170673359290883],
 [404, 4.311787630896859],
 [406, 4.8421557038973875],
 [407, 3.6008167444660146],
 [408, 3.6325810637349436],
 [409, 3.6928215981661103],
 [410, 3.8464874473134207],
 [412, 4.493904330342423],
 [413, 3.9068427302458093],
 [415, 3.9760257643467005],
 [416, 3.95099754776962],
 [417, 3.8252736191765617],
 [418, 3.6968386849346446],
 [419, 3.9539998352020453],
 [420, 3.5372547718237026],
 [422, 3.3286520836450437],
 [423, 3.2740977597923258],
 [425, 3.6416411164959137],
 [428, 4.467082979457781],
 [429, 4.061519188776133],
 [430, 4.247998165154569],
 [431, 4.394771775652425],
 [432, 3.7895073870450164],
 [434, 4.162812010375079],
 [435, 4.537127101519098],
 [436, 3.782257296680548],
 [437, 3.204608755226626],
 [438, 4.529340299222529],
 [440, 3.360694230025774],
 [441, 4.857540208359367],
 [442, 4.641568376293708],
 [443, 3.968958254575462],
 [445, 3.877033707124718],
 [446, 4.395870212486321],
 [451, 3.5939048780875846],
 [452, 4.265851419125041],
 [454, 4.121938017136617],
 [456, 4.4589013397130195],
 [458, 4.144851939468749],
 [459, 3.6037337037471753],
 [460, 3.7045264724827938],
 [461, 3.6392001612495117],
 [463, 3.8740560868483787],
 [464, 3.990681234633161],
 [465, 3.0080511569898865],
 [466, 3.6981385637032576],
 [469, 3.8649357225900727],
 [470, 3.9738349219297318],
 [471, 3.1641295342683033],
 [473, 3.8031820572926063],
 [474, 3.778787847094757],
 [475, 3.9425500089397287],
 [478, 3.5277747022463752],
 [480, 4.040588410423081],
 [481, 3.6081263465856597],
 [482, 3.629758021133448],
 [483, 4.008299447973386],
 [495, 4.506121818754138],
 [496, 3.7595104202813294],
 [498, 4.5477299480166264],
 [499, 3.720084779783444],
 [500, 3.964916849352676],
 [501, 3.1985899388676677],
 [503, 4.481730865171625],
 [504, 4.36177945092877],
 [507, 3.634566029423716],
 [508, 4.102814190809245],
 [509, 3.948664927835763],
 [510, 4.654440277912698],
 [511, 4.082433755866272],
 [514, 3.4288880761449296],
 [515, 3.671367359907393],
 [519, 4.46182978460695],
 [520, 3.51859034534095],
 [521, 3.6160458866264853],
 [522, 4.039004671951163],
 [523, 4.147181067728433],
 [524, 3.803178797913892],
 [525, 3.9880683993186503],
 [527, 3.9002960086110416],
 [533, 4.23604721345888],
 [534, 4.11659317392377],
 [535, 3.3688711009304693],
 [537, 3.780275897007548],
 [538, 3.740524215683203],
 [539, 3.575762834176755],
 [540, 4.292235002299289],
 [542, 3.531756133872957],
 [544, 3.9810778285611215],
 [546, 4.09072186705996],
 [547, 4.445478288343258],
 [548, 3.648629049753575],
 [549, 4.290355866146038],
 [551, 3.6236851237373204],
 [552, 2.994704209286649],
 [553, 4.5056900946124845],
 [558, 4.685265376387048],
 [559, 4.0128735481020605],
 [561, 4.617939771105018],
 [563, 3.8117089410744676],
 [564, 3.299321189902816],
 [565, 3.977798201990161],
 [566, 4.0],
 [567, 4.113840121458729],
 [571, 4.557529656981956],
 [572, 4.136578800949052],
 [573, 4.113299807077807],
 [574, 3.8688640808080295],
 [575, 4.452364467894495],
 [576, 4.005667855386882],
 [577, 3.949825949174811],
 [579, 3.5315892970217897],
 [580, 4.0341447300208655],
 [582, 4.001739710111361],
 [584, 3.4940803741873663],
 [585, 3.4044566645506014],
 [586, 3.4240405330992507],
 [587, 3.718256737742131],
 [588, 3.9417252124882487],
 [591, 3.9839780269057843],
 [592, 4.191461796960884],
 [594, 3.5308620187131616],
 [595, 3.9990417459228023],
 [599, 4.265510283316264],
 [600, 3.4053486850673034],
 [602, 3.7875992432979015],
 [603, 3.718160503213595],
 [607, 3.5912223376126176],
 [609, 4.112576315973884],
 [610, 4.438355683620723],
 [611, 4.218055641648326],
 [615, 3.219978516069528],
 [616, 3.1868311628845665],
 [617, 3.442210534527716],
 [620, 3.190195461761433],
 [621, 4.399856964741341],
 [624, 4.467797348397751],
 [625, 4.545521360353194],
 [628, 4.614527920354658],
 [629, 4.346287148577957],
 [630, 2.990993716550162],
 [632, 4.36967181116863],
 [633, 3.7229821950394],
 [635, 4.143126314452799],
 [636, 4.176860921536006],
 [637, 4.378649768099617],
 [638, 3.9917062105449794],
 [639, 4.387024128256855],
 [641, 3.880374226932679],
 [643, 3.5913249773704647],
 [645, 3.790904284522379],
 [647, 3.798784663230792],
 [648, 3.4278746913521987],
 [649, 2.7317328066574755],
 [650, 4.099573846161828],
 [651, 4.338325417287753],
 [653, 4.37331400357426],
 [654, 4.254259462328329],
 [656, 3.8170548892945693],
 [657, 4.386824815327154],
 [658, 3.891651306484902],
 [661, 4.32894804536845],
 [662, 4.0011967506196555],
 [663, 4.077506943254373],
 [664, 4.175553711105312],
 [668, 4.709504855936029],
 [677, 3.789089990562146],
 [679, 3.727215423238888],
 [680, 4.34269705462532],
 [681, 3.6547247691723372],
 [683, 4.533061172615707],
 [684, 4.388372528805912],
 [685, 3.558645179310851],
 [686, 4.166224391804211],
 [687, 4.595248170014565],
 [688, 3.8302981745200646],
 [689, 3.7097037957795282],
 [690, 4.086923803419175],
 [691, 3.8596549030414837],
 [692, 3.7979681188003656],
 [693, 4.8196444985012725],
 [697, 4.456951994228381],
 [706, 4.21026520067819],
 [711, 4.5786912194626455],
 [712, 4.363489410183385],
 [714, 3.9948830027828257],
 [715, 4.29889414469975],
 [716, 4.20181093034204],
 [717, 2.9925978451423836],
 [718, 3.8930543182151767],
 [720, 4.134250995478618],
 [721, 3.8811384175268846],
 [722, 4.0],
 [723, 4.632575515254806],
 [724, 4.389500137248449],
 [725, 3.6324588101657826],
 [726, 3.389394906516935],
 [727, 3.8003090627292195],
 [728, 3.7324550646194092],
 [729, 3.017166677392225],
 [732, 3.9576118144328376],
 [733, 3.6685193079362803],
 [734, 3.4602065673571047],
 [736, 3.0127795796756005],
 [738, 4.004362354443866],
 [739, 4.401226195469847],
 [741, 3.869628815648388],
 [743, 4.71852116889597],
 [744, 3.5097748890977565],
 [746, 4.097885800883908],
 [749, 3.1591038389218102],
 [753, 4.494210208551413],
 [755, 3.49117838345349],
 [756, 3.4827051618054776],
 [758, 3.767763300529446],
 [759, 4.301214728933163],
 [760, 4.202392152868266],
 [764, 3.941435636830633],
 [765, 4.3013156584757635],
 [766, 4.231919978565796],
 [767, 3.6496284385913578],
 [769, 3.5056575941107107],
 [770, 4.345676009750662],
 [771, 4.8353249669320295],
 [773, 3.823047730503848],
 [774, 3.5961202099585288],
 [775, 4.004083083099563],
 [777, 4.498962188192741],
 [778, 4.036613260173246],
 [779, 4.275052863025468],
 [780, 2.8308922568301864],
 [781, 4.4620691754558734],
 [783, 4.17991984098671],
 [784, 4.334914613138299],
 [785, 4.000796308902433],
 [787, 3.7154252455541297],
 [789, 3.724269546515469],
 [791, 4.731540723786921],
 [792, 3.818524101771034],
 [793, 4.151946134892088],
 [794, 4.010161483199386],
 [795, 3.2563481076801692],
 [796, 3.7832764994678048],
 [797, 3.828204254633113],
 [798, 3.5055565090493253],
 [799, 4.30106587532798],
 [800, 4.287000194539285],
 [816, 4.620851032868314],
 [817, 4.414486951013921],
 [818, 3.7646854075423652],
 [820, 3.9952496351879456],
 [822, 3.997455174392068],
 [823, 4.767795287347475],
 [824, 3.4247161704757367],
 [825, 4.111684428549951],
 [826, 4.559893338643905],
 [827, 4.095557299971302],
 [828, 4.306439605687164],
 [831, 3.6403440508326166],
 [840, 4.064767062481677],
 [841, 2.870006009372386],
 [842, 3.989589352123395],
 [843, 4.588105012173135],
 [844, 4.474829396288517],
 [846, 4.727384044333821],
 [847, 3.999051461075283],
 [851, 4.153465894437781],
 [852, 3.6059897865618957],
 [854, 4.344409064811928],
 [857, 3.447843549862453],
 [858, 3.141009700819427],
 [859, 3.6868757528534117],
 [860, 3.670608899665902],
 [861, 3.822111537075113],
 [865, 4.368387844280978],
 [866, 3.6722808675348766],
 [867, 4.0888784822714594],
 [869, 3.893333254291115],
 [874, 3.9963477513360153],
 [875, 4.5084210275906],
 [878, 3.841821526485028],
 [881, 3.592763348291789],
 [886, 4.359606483729678],
 [890, 3.671250248707962],
 [891, 3.556738788875569],
 [895, 3.6295043827746087],
 [897, 3.5598605006473862],
 [899, 3.608055583284004],
 [902, 3.8778015701998565],
 [906, 4.2007920127509575],
 [907, 4.444669730272433],
 [908, 4.392565990399704],
 [912, 3.8268205791676175],
 [913, 4.166288606008912],
 [914, 4.0716717911393925],
 [915, 4.051214645644726],
 [916, 4.462704030144523],
 [919, 4.004198353431551],
 [921, 3.1459933216117935],
 [922, 4.39193411284721],
 [925, 4.286227092082197],
 [926, 3.6065678508029824],
 [928, 4.404255643414928],
 [929, 3.7832638612384217],
 [931, 4.015181762075507],
 [932, 4.178334944136093],
 [933, 4.463825534047673],
 [935, 3.7145462265472844],
 [938, 4.403641879008513],
 [950, 4.200107939970679],
 [951, 4.251968091500282],
 [953, 4.342689909025906],
 [955, 4.201098102871099],
 [957, 4.4528714821533475],
 [958, 4.055738330985045],
 [959, 3.5535187900341505],
 [960, 3.5490054486003233],
 [961, 3.737966655898621],
 [962, 4.286148383504517],
 [965, 4.0484694610301935],
 [970, 4.5738551144617325],
 [973, 3.664007892036544],
 [975, 4.4268638665175475],
 [976, 4.513398775178235],
 [977, 4.410690541540675],
 [984, 3.4475088254101944],
 [985, 3.557751948018306],
 [986, 3.481995186306842],
 [990, 4.0849860440541965],
 [993, 3.829365138368211],
 [995, 4.4079107070818075],
 [996, 4.083940357322578],
 [997, 3.158027352738224],
 [998, 3.3791560734694173],
 [999, 3.84049751055315],
 [1001, 3.6286526200925953],
 [1005, 3.430764572193374],
 [1006, 3.562314039717113],
 [1008, 3.8794665008617106],
 [1009, 3.4098837534278075],
 [1010, 3.2371575441031735],
 [1011, 3.794304836849849],
 [1013, 3.5098742398880223],
 [1014, 3.498003695200117],
 [1016, 2.992090425543851],
 [1020, 3.15596541831905],
 [1022, 4.064548741469081],
 [1031, 4.206064234558774],
 [1033, 2.9999999999999996],
 [1034, 3.611192135422497],
 [1037, 4.013477632969229],
 [1038, 3.6054665712689458],
 [1040, 3.6349283728193234],
 [1047, 3.51378347235588],
 [1048, 2.300743504629489],
 [1049, 2.647287591655588],
 [1053, 2.332917101359486],
 [1057, 3.3152760711657407],
 [1059, 3.0950403172390875],
 [1061, 3.5846208565808917],
 [1062, 2.7917551541174097],
 [1064, 3.5012905269849597],
 [1065, 3.860701749313482],
 [1069, 3.8169935122953618],
 [1077, 4.10889985187926],
 [1078, 3.8066359967391517],
 [1082, 4.2191754317789325],
 [1083, 3.8923440154033635],
 [1084, 3.7229863551035356],
 [1092, 4.523120494399],
 [1093, 4.213582589988515],
 [1096, 3.7518564766931135],
 [1097, 3.6461756376281915],
 [1099, 3.73472330161484],
 [1100, 4.301733873017251],
 [1102, 4.097450034273519],
 [1104, 4.024270933733809],
 [1107, 4.329597150762599],
 [1109, 3.503049556204519],
 [1111, 2.952867604868313],
 [1117, 3.290643199739133],
 [1119, 3.687289861751922],
 [1120, 3.192214752887938],
 [1122, 2.780380634475311],
 [1124, 3.2981431989705654],
 [1125, 3.1025851890260516],
 [1129, 3.9569925492063533],
 [1131, 3.1088710563786233],
 [1134, 3.6563562609360996],
 [1136, 3.582695518113029],
 [1139, 3.574561544592946],
 [1143, 3.6681752390075766],
 [1145, 3.1798884025594933],
 [1146, 3.499659744994474],
 [1153, 3.6105894747919525],
 [1162, 3.3477919170000585],
 [1175, 3.8597875108009907],
 [1189, 3.4631627840713097],
 [1190, 3.238077829154474],
 [1191, 3.487576654545826],
 [1192, 3.2945719477762205],
 [1193, 3.6379082135741294],
 [1194, 4.441596366600031],
 [1195, 3.139962653865174],
 [1196, 3.6495927594025814],
 [1200, 4.001988168253197],
 [1201, 3.41607021129693],
 [1202, 3.5470796520897583],
 [1203, 3.167628113203414],
 [1205, 3.4648525845901017],
 [1206, 2.485445115612918],
 [1209, 2.8255196044908666],
 [1214, 3.6580966545364153],
 [1216, 2.4987204938514673],
 [1231, 4.443242242189651],
 [1241, 2.981634764427102],
 [1255, 2.992044255401171],
 [1261, 3.8411126486481293],
 [1264, 3.9880874166353153],
 [1265, 3.997779358585463],
 [1285, 3.505903921628636],
 [1287, 3.367623151908474],
 [1288, 3.59690490953399],
 [1293, 4.279196882433521],
 [1297, 3.518254587431784],
 [1299, 4.506707527506286],
 [1302, 2.8273081341011164],
 [1311, 2.9873262751240555],
 [1315, 3.336557078162382],
 [1316, 4.075001919114605],
 [1328, 4.325684740483129],
 [1329, 4.578162089036459],
 [1330, 3.4969689525822987],
 [1331, 3.7653391139770913],
 [1333, 3.7574888994339117],
 [1334, 4.167587611734911],
 [1335, 3.9123867907708525],
 [1336, 3.172143856918302],
 [1339, 3.9289857107323156],
 [1340, 3.7315645590046165],
 [1344, 3.710591192095556],
 [1345, 4.134340167473336],
 [1346, 4.355758865231838],
 [1350, 3.8545067752871547],
 [1353, 2.7907058599213994],
 [1355, 3.401154156101916],
 [1357, 3.738855610972993],
 [1359, 3.9338866535433326],
 [1360, 2.992126336032841],
 [1361, 2.9866818603491088],
 [1363, 2.8116646829147944],
 [1364, 3.100732673871658],
 [1365, 2.8346381806653786],
 [1366, 3.839280002221125],
 [1369, 3.280773349014487],
 [1375, 3.593216305981581],
 [1376, 3.9340603156666774],
 [1378, 3.1673611927371472],
 [1379, 3.3700488283634322],
 [1380, 3.5056945502193666],
 [1381, 4.515809824232301],
 [1382, 4.559835660129161],
 [1383, 4.011162933019067],
 [1384, 3.629555820477598],
 [1385, 4.147987356191135],
 [1388, 4.027542265081615],
 [1389, 3.8071282476710326],
 [1391, 3.315727421116389],
 [1399, 4.622090538000012],
 [1400, 4.33454028253532],
 [1401, 4.203488981687348],
 [1402, 4.5963725757543425],
 [1405, 3.5771746356026792],
 [1407, 4.0726394478447245],
 [1409, 4.2873912345705545],
 [1410, 4.297943197037364],
 [1411, 3.8022678540382095],
 [1415, 4.077892897933483],
 [1418, 3.8004405566944963],
 [1419, 4.527540907353519],
 [1420, 3.194207232372774],
 [1421, 4.686532228008986],
 [1424, 3.6426270184437333],
 [1426, 4.000090341505587],
 [1427, 4.007458447720842],
 [1428, 3.9704593183200276],
 [1429, 3.2621598093719655],
 [1438, 4.3608835845456415],
 [1440, 3.811345540595779],
 [1441, 3.518160297356509],
 [1447, 4.327921634524467],
 [1448, 4.073260661723627],
 [1450, 3.7034982287665916],
 [1451, 4.419267685390515],
 [1453, 4.254023318411056],
 [1457, 4.286011286496248],
 [1460, 3.709099150839238],
 [1462, 3.7273619121025194],
 [1463, 3.579544658369677],
 [1467, 3.5156106807734493],
 [1470, 3.426401794579507],
 [1471, 3.594933251801284],
 [1472, 3.1104268725009736],
 [1475, 3.2869479288165944],
 [1476, 3.4651273388290966],
 [1478, 3.6801677887531077],
 [1479, 4.589785043697284],
 [1483, 3.7933227461315315],
 [1489, 3.60492689402971],
 [1490, 3.6298154311435726],
 [1492, 3.649097713886371],
 [1499, 4.04386802665972],
 [1500, 4.222373839396705],
 [1504, 4.377171220820906],
 [1505, 4.465868872382072],
 [1506, 4.492675735992975],
 [1507, 4.685569237186783],
 [1508, 4.40658159455331],
 [1510, 4.237390074896353],
 [1515, 3.7359189508498987],
 [1516, 4.013177358516022],
 [1527, 4.435761802387413],
 [1534, 4.396618357139293],
 [1535, 4.539600909612696],
 [1538, 3.6677754928820945],
 [1539, 3.9001646876774636],
 [1542, 3.986445000968217],
 [1546, 4.013823760840517],
 [1549, 4.243343143423644],
 [1553, 3.4128117746149518],
 [1559, 4.000234144924437],
 [1562, 3.973873447219824],
 [1564, 3.2956556785886875],
 [1565, 4.140771022959832],
 [1567, 3.8980057112897066],
 [1570, 3.623319548944931],
 [1574, 3.8802598496988554],
 [1578, 3.7204898829895314],
 [1579, 4.323076516502945],
 [1582, 3.6951327793650774],
 [1589, 3.8483542180422696],
 [1591, 3.8328732405591492],
 [1593, 4.217691373158579],
 [1596, 3.417841360549549],
 [1598, 2.750941114172892],
 [1606, 3.5888860059935754],
 [1607, 2.867850995715373],
 [1608, 4.249747980926747],
 [1624, 3.2040643486571896],
 [1626, 2.485497915144605],
 [1628, 4.1282930622896545],
 [1631, 3.2106088780771147],
 [1633, 3.0130686180692923],
 [1635, 3.8040881851200883],
 [1637, 3.044243547152121],
 [1648, 3.5361696693958526],

# end test

In [20]:
recomm_hybdrid = coll.hybdrid_RS(2941,dense_user_item,popu_matrix,neighboor_size=100,top_K=30,norm=True)
recomm_hybdrid.transpose()

136555
6004

100%|██████████| 6004/6004 [00:13<00:00, 454.36it/s]

,300,406,441,442,1385,1421,1507,1508,1919,2142,...,435,88967,228,298,39349,668,558,1505,44,150494
prediction,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,4.952519,4.95244,4.951538,4.946623,4.942616,4.932101,4.929935,4.92353,4.918668,4.915638

In [21]:
recomm_pop = coll.popularity_RS(2941,dense_user_item,popu_matrix,neighboor_size=100,top_K=30,norm=True)
recomm_pop.transpose()

136555
6004

100%|██████████| 6004/6004 [00:13<00:00, 452.83it/s]

,21,44,135,152,153,228,248,298,300,302,...,435,442,474,498,510,552,637,728,823,826
prediction,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0

In [22]:
recomm_classic = coll.classic_RS(2941,dense_user_item,neighboor_size=100,top_K=30,norm=True)
recomm_classic.transpose()

136555
6004

100%|██████████| 6004/6004 [00:13<00:00, 453.69it/s]

,300,406,441,442,1385,1507,1508,1919,2142,11990,...,228,435,298,88967,39349,668,558,1505,150494,44
prediction,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,4.950528,4.949051,4.946516,4.94607,4.941331,4.93239,4.929951,4.919641,4.915743,4.91279

(Too) many prediction are actually higher than 5 (it can happens if the average of U is higher than average of V, but V rated highly some movie in question -> around 6.1 value)

That's really annoying and didn't really found solution

So just redoing the formula without normalization

In [23]:
recomm_hybdrid_not = coll.hybdrid_RS(2941,dense_user_item,popu_matrix,neighboor_size=100,top_K=30)
recomm_hybdrid_not.transpose()

136555
6004

100%|██████████| 6004/6004 [00:12<00:00, 480.24it/s]

,1919,23369,406,20978,441,3062,442,1508,21430,11990,...,228,300,558,435,238,1421,743,2212,2091,367
prediction,5.0,5.0,4.861399,4.848184,4.845113,4.839777,4.836396,4.835697,4.807595,4.806765,...,4.727857,4.72623,4.724111,4.715798,4.711315,4.706946,4.705057,4.702941,4.696884,4.690935

In [24]:
recomm_pop_not = coll.popularity_RS(2941,dense_user_item,popu_matrix,neighboor_size=100,top_K=30)
recomm_pop_not.transpose()

136555
6004

100%|██████████| 6004/6004 [00:12<00:00, 492.66it/s]

,44,474,664,693,723,1328,1329,1919,1954,2090,...,8606,20832,21450,21477,21536,21969,22283,22470,23065,23340
prediction,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0

In [25]:
recomm_classic_not = coll.classic_RS(2941,dense_user_item,neighboor_size=100,top_K=30,norm=True)
recomm_classic_not.transpose()

136555
6004

100%|██████████| 6004/6004 [00:13<00:00, 454.50it/s]

,300,406,441,442,1385,1507,1508,1919,2142,11990,...,228,435,298,88967,39349,668,558,1505,150494,44
prediction,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,4.950528,4.949051,4.946516,4.94607,4.941331,4.93239,4.929951,4.919641,4.915743,4.91279