In [1]:
import numpy as np
import pandas as pd
import math
from helper.loader import load_ratings, load_movies, load_lists, load_500_1000_corr
from helper.preprocesser import preprocess_ratings, create_fake_identities
from helper.application import application
import helper.collaborative as coll
import helper.showResults as sh

from tqdm import tqdm

## Complete version

In [3]:
application()

100%|██████████| 2314/2314 [00:02<00:00, 961.30it/s]

## Preprocessing cf Jonas

In [4]:
ratings = load_ratings()
movies = load_movies()
lists = load_lists()

In [5]:
ratings_new, lists_new = preprocess_ratings(ratings, lists, min_ratings_user=500, min_ratings_movie=1000)
print(f'{round((len(ratings) - len(ratings_new)) / len(ratings) * 100, 2)} % of ratings removed (out of {len(ratings)})')
print(f'{round((len(lists) - len(lists_new)) / len(lists) * 100, 2)} % lists removed (out of {len(lists)})')

79.36 % of ratings removed (out of 15459945)
68.32 % lists removed (out of 80311)

In [6]:
print("ratings new len {}, index user_id from {} to {}, movie_id from {} to {}".format(len(ratings_new),ratings_new["user_id"].min(),np.max(ratings_new["user_id"]),ratings_new["movie_id"].min(),np.max(ratings_new["movie_id"])))

ratings new len 3190249, index user_id from 2941 to 99988538, movie_id from 10 to 243910

In [7]:
print("{} unique users rate {} unique movies".format(ratings_new["user_id"].nunique(),ratings_new["movie_id"].nunique()))

3900 unique users rate 2941 unique movies

In [8]:
print("{} unique users created {} unique list".format(lists_new["user_id"].nunique(),lists_new["list_id"].nunique()))

1997 unique users created 25442 unique list

## User-item matrix 

The sparse version:

- faster
- lighter in memory
- cleaner
- no index/columns naming possibilities

The dense version:

- DataFrame so more used
- way more data...
- manipulate with care because that thing is killing kernel after kernel... :D

In [9]:
dense_user_item = coll.get_dense_user_item(ratings_new)

dense_user_item

,10,12,13,21,30,44,50,55,61,75,...,229011,232146,233827,234212,234623,234658,235002,235016,241947,243910
2941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29237,NaN,NaN,4.0,NaN,4.0,NaN,NaN,3.0,NaN,5.0,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78410,NaN,NaN,NaN,5.0,4.0,3.0,NaN,NaN,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83575,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99845748,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99869481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99909118,NaN,4.0,5.0,NaN,NaN,NaN,5.0,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99927639,NaN,3.0,NaN,NaN,NaN,NaN,4.0,2.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99988538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sparse_user_item,user_id,movie_id = coll.get_sparse_user_item(ratings_new)

In [9]:
print(user_id)
print(movie_id)
sparse_user_item

[    2941    15344    29237 ... 99909118 99927639 99988538]
[    10     12     13 ... 235016 241947 243910]

<3900x2941 sparse matrix of type '<class 'numpy.float64'>'
	with 3190233 stored elements in Compressed Sparse Row format>

## Correlation

### Approach

Static (compute all the correlation once):

- long process
- memory consumption during matrix 
- not realistic (the ratings may change)
- extremely fast at inference (lookup table)

Dynamic (when asked, compute all the correlation between one of the user and the others):

- slower at inference
- must be computed each time we want a recommendation
- the user-item matrix can be modified with new ratings -> changes taken into account

### Implementation

Sparse:

- no correlation (pearsonr consider the 0 as a value of 0 instead of ignoring)

Pandas:

- corr is extremely slow 

Numpy:

- doesn't work with NaN, if replaced by 0, consider it as a value of 0 instead of ignoring it (impact the rating average and therefore the Pearson correlation coefficient)

### Decision

- Ran once the correlation with pandas to get the complete user-user correlation matrix which is saved and now available (WARNING: replace all the diagonal values of 1 with 0 to avoid taking into account itself). Extremely fast (basically a value look up)
- Implement the user-users correlation if we want to run for a specific user on a modified user-item matrix (still quite fast ~2sec for gaining the possibility to change the ratings and adapt the corr)

In [36]:
#corr_matrix_to_save = dense_user_item.T.corr(method="pearson")

In [42]:
#corr_matrix_to_save

,2941,15344,29237,78410,83575,94978,99812,114207,118841,182362,...,99740013,99809019,99817202,99827133,99842199,99845748,99869481,99909118,99927639,99988538
2941,0.000000,0.428091,0.313774,0.412717,0.140430,0.307555,0.333496,0.259837,0.249952,0.371869,...,0.359474,0.151826,0.425525,0.375087,0.277096,0.131071,0.230549,0.284602,0.434867,0.379136
15344,0.428091,0.000000,0.320105,0.389232,-0.040394,0.217663,0.283636,0.188385,0.227881,0.429392,...,0.182316,0.263529,0.424636,0.409913,0.352801,0.197683,0.253783,0.158278,0.438327,0.367678
29237,0.313774,0.320105,0.000000,0.312213,0.036993,0.289640,0.186558,0.135187,0.069235,0.397600,...,0.159255,0.186995,0.381735,0.374622,0.287239,0.050324,0.160204,0.258161,0.423712,0.333702
78410,0.412717,0.389232,0.312213,0.000000,0.072442,0.406765,0.240814,0.119701,0.340255,0.489007,...,0.302066,0.130979,0.478134,0.439999,0.377262,0.224233,0.269535,0.304163,0.477438,0.464281
83575,0.140430,-0.040394,0.036993,0.072442,0.000000,0.169615,0.146804,0.122561,0.177234,0.198552,...,0.290054,0.125784,0.189389,0.043521,0.169425,-0.057015,0.110793,0.073143,0.253698,0.154404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99845748,0.131071,0.197683,0.050324,0.224233,-0.057015,0.192945,0.236315,0.120183,0.227178,0.165379,...,0.238232,0.298568,0.430672,0.216807,0.253668,0.000000,0.152544,0.068944,0.345413,0.227731
99869481,0.230549,0.253783,0.160204,0.269535,0.110793,0.135921,0.115787,0.134768,0.271075,0.211613,...,0.090470,0.097052,0.383331,0.276408,0.092313,0.152544,0.000000,0.025657,0.257208,0.206810
99909118,0.284602,0.158278,0.258161,0.304163,0.073143,0.401549,0.425944,0.134234,0.024645,0.367457,...,0.362264,0.240941,0.222494,0.238388,0.330457,0.068944,0.025657,0.000000,0.303124,0.319565
99927639,0.434867,0.438327,0.423712,0.477438,0.253698,0.463754,0.427678,0.220933,0.347487,0.534573,...,0.288457,0.438649,0.583691,0.552196,0.352156,0.345413,0.257208,0.303124,0.000000,0.549119
99988538,0.379136,0.367678,0.333702,0.464281,0.154404,0.427472,0.417420,0.324809,0.315425,0.512396,...,0.456662,0.379750,0.589053,0.507124,0.320954,0.227731,0.206810,0.319565,0.549119,0.000000

In [38]:
#np.fill_diagonal(corr_matrix_to_save.values,0)
#corr_matrix_to_save

,2941,15344,29237,78410,83575,94978,99812,114207,118841,182362,...,99740013,99809019,99817202,99827133,99842199,99845748,99869481,99909118,99927639,99988538
2941,0.000000,0.428091,0.313774,0.412717,0.140430,0.307555,0.333496,0.259837,0.249952,0.371869,...,0.359474,0.151826,0.425525,0.375087,0.277096,0.131071,0.230549,0.284602,0.434867,0.379136
15344,0.428091,0.000000,0.320105,0.389232,-0.040394,0.217663,0.283636,0.188385,0.227881,0.429392,...,0.182316,0.263529,0.424636,0.409913,0.352801,0.197683,0.253783,0.158278,0.438327,0.367678
29237,0.313774,0.320105,0.000000,0.312213,0.036993,0.289640,0.186558,0.135187,0.069235,0.397600,...,0.159255,0.186995,0.381735,0.374622,0.287239,0.050324,0.160204,0.258161,0.423712,0.333702
78410,0.412717,0.389232,0.312213,0.000000,0.072442,0.406765,0.240814,0.119701,0.340255,0.489007,...,0.302066,0.130979,0.478134,0.439999,0.377262,0.224233,0.269535,0.304163,0.477438,0.464281
83575,0.140430,-0.040394,0.036993,0.072442,0.000000,0.169615,0.146804,0.122561,0.177234,0.198552,...,0.290054,0.125784,0.189389,0.043521,0.169425,-0.057015,0.110793,0.073143,0.253698,0.154404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99845748,0.131071,0.197683,0.050324,0.224233,-0.057015,0.192945,0.236315,0.120183,0.227178,0.165379,...,0.238232,0.298568,0.430672,0.216807,0.253668,0.000000,0.152544,0.068944,0.345413,0.227731
99869481,0.230549,0.253783,0.160204,0.269535,0.110793,0.135921,0.115787,0.134768,0.271075,0.211613,...,0.090470,0.097052,0.383331,0.276408,0.092313,0.152544,0.000000,0.025657,0.257208,0.206810
99909118,0.284602,0.158278,0.258161,0.304163,0.073143,0.401549,0.425944,0.134234,0.024645,0.367457,...,0.362264,0.240941,0.222494,0.238388,0.330457,0.068944,0.025657,0.000000,0.303124,0.319565
99927639,0.434867,0.438327,0.423712,0.477438,0.253698,0.463754,0.427678,0.220933,0.347487,0.534573,...,0.288457,0.438649,0.583691,0.552196,0.352156,0.345413,0.257208,0.303124,0.000000,0.549119
99988538,0.379136,0.367678,0.333702,0.464281,0.154404,0.427472,0.417420,0.324809,0.315425,0.512396,...,0.456662,0.379750,0.589053,0.507124,0.320954,0.227731,0.206810,0.319565,0.549119,0.000000

In [40]:
#corr_matrix_to_save.columns = corr_matrix_to_save.columns.astype(str)
#mid = int(corr_matrix_to_save.shape[0]/2)

In [49]:
#split1 = corr_matrix_to_save.iloc[:mid,:]
#split2 = corr_matrix_to_save.iloc[mid:,:]

In [50]:
#split1.to_parquet("data/small_user_user_0.parquet")
#split2.to_parquet("data/small_user_user_1.parquet")

In [10]:
correlation_matrix = load_500_1000_corr()

In [11]:
correlation_matrix

,2941,15344,29237,78410,83575,94978,99812,114207,118841,182362,...,99740013,99809019,99817202,99827133,99842199,99845748,99869481,99909118,99927639,99988538
2941,0.000000,0.428091,0.313774,0.412717,0.140430,0.307555,0.333496,0.259837,0.249952,0.371869,...,0.359474,0.151826,0.425525,0.375087,0.277096,0.131071,0.230549,0.284602,0.434867,0.379136
15344,0.428091,0.000000,0.320105,0.389232,-0.040394,0.217663,0.283636,0.188385,0.227881,0.429392,...,0.182316,0.263529,0.424636,0.409913,0.352801,0.197683,0.253783,0.158278,0.438327,0.367678
29237,0.313774,0.320105,0.000000,0.312213,0.036993,0.289640,0.186558,0.135187,0.069235,0.397600,...,0.159255,0.186995,0.381735,0.374622,0.287239,0.050324,0.160204,0.258161,0.423712,0.333702
78410,0.412717,0.389232,0.312213,0.000000,0.072442,0.406765,0.240814,0.119701,0.340255,0.489007,...,0.302066,0.130979,0.478134,0.439999,0.377262,0.224233,0.269535,0.304163,0.477438,0.464281
83575,0.140430,-0.040394,0.036993,0.072442,0.000000,0.169615,0.146804,0.122561,0.177234,0.198552,...,0.290054,0.125784,0.189389,0.043521,0.169425,-0.057015,0.110793,0.073143,0.253698,0.154404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99845748,0.131071,0.197683,0.050324,0.224233,-0.057015,0.192945,0.236315,0.120183,0.227178,0.165379,...,0.238232,0.298568,0.430672,0.216807,0.253668,0.000000,0.152544,0.068944,0.345413,0.227731
99869481,0.230549,0.253783,0.160204,0.269535,0.110793,0.135921,0.115787,0.134768,0.271075,0.211613,...,0.090470,0.097052,0.383331,0.276408,0.092313,0.152544,0.000000,0.025657,0.257208,0.206810
99909118,0.284602,0.158278,0.258161,0.304163,0.073143,0.401549,0.425944,0.134234,0.024645,0.367457,...,0.362264,0.240941,0.222494,0.238388,0.330457,0.068944,0.025657,0.000000,0.303124,0.319565
99927639,0.434867,0.438327,0.423712,0.477438,0.253698,0.463754,0.427678,0.220933,0.347487,0.534573,...,0.288457,0.438649,0.583691,0.552196,0.352156,0.345413,0.257208,0.303124,0.000000,0.549119
99988538,0.379136,0.367678,0.333702,0.464281,0.154404,0.427472,0.417420,0.324809,0.315425,0.512396,...,0.456662,0.379750,0.589053,0.507124,0.320954,0.227731,0.206810,0.319565,0.549119,0.000000

In [12]:
neighboor_formation_static = coll.get_k_similar_users(correlation_matrix,2941,K = 200)

In [13]:
neighboor_formation_static

,14361993,56815255,43785832,14343424,7051818,50596997,74755744,14508560,49312804,29914016,...,30051866,29422130,39981635,64982269,88170732,86657631,14301263,55361439,38183203,23461723
2941,0.579992,0.562695,0.546981,0.546288,0.54027,0.539798,0.539466,0.53492,0.532015,0.524332,...,0.439487,0.439421,0.439269,0.439094,0.438964,0.438897,0.438824,0.43878,0.438319,0.438165

In [14]:
neighboor_formation_dynamic = coll.get_k_dynamic_similar_users(dense_user_item,2941,K = 200)

In [15]:
neighboor_formation_dynamic

,14361993,56815255,43785832,14343424,7051818,50596997,74755744,14508560,49312804,29914016,...,30051866,29422130,39981635,64982269,88170732,86657631,14301263,55361439,38183203,23461723
2941,0.579992,0.562695,0.546981,0.546288,0.54027,0.539798,0.539466,0.53492,0.532015,0.524332,...,0.439487,0.439421,0.439269,0.439094,0.438964,0.438897,0.438824,0.43878,0.438319,0.438165

## Popularity

Judge the popularity of user by the number of followers for its list

In [16]:
popularity = coll.get_popularity(lists_new,dense_user_item)

In [17]:
popularity

          popularity
2941        0.000000
15344       0.000000
29237       0.000000
78410       1.666667
83575       0.000000
...              ...
99845748    0.111111
99869481    0.317460
99909118   18.777778
99927639    0.000000
99988538    1.040000

[3900 rows x 1 columns]

In [18]:
k_popu = coll.get_k_popularity(popularity,neighboor_formation_dynamic)
k_popu

,14361993,56815255,43785832,14343424,7051818,50596997,74755744,14508560,49312804,29914016,...,30051866,29422130,39981635,64982269,88170732,86657631,14301263,55361439,38183203,23461723
popularity,0.0,0.007576,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.051136,0.0,0.0,0.013175,0.0,0.042208,0.556818

## Recommendation

In [19]:
popu_matrix = coll.get_popularity(lists_new,dense_user_item)
popu_matrix

          popularity
2941        0.000000
15344       0.000000
29237       0.000000
78410       1.666667
83575       0.000000
...              ...
99845748    0.111111
99869481    0.317460
99909118   18.777778
99927639    0.000000
99988538    1.040000

[3900 rows x 1 columns]

In [20]:
recomm_hybdrid = coll.hybdrid_RS(2941,dense_user_item,popu_matrix,neighboor_size=40,top_K=10,norm=True)
recomm_hybdrid.transpose()

100%|██████████| 2314/2314 [00:02<00:00, 980.23it/s]

            302   304   367   406   441   510   668   1421  1505      9744
prediction   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0  4.983053

In [21]:
recomm_pop = coll.popularity_RS(2941,dense_user_item,popu_matrix,neighboor_size=40,top_K=10,norm=True)
recomm_pop.transpose()

100%|██████████| 2314/2314 [00:02<00:00, 975.60it/s]

            12   135  152  228  248  296  298  300  302  304
prediction  5.0  5.0  5.0  5.0  5.0  5.0  5.0  5.0  5.0  5.0

In [22]:
recomm_classic = coll.classic_RS(2941,dense_user_item,neighboor_size=40,top_K=10,norm=True)
recomm_classic.transpose()

100%|██████████| 2314/2314 [00:02<00:00, 955.80it/s]

,406,441,510,668,791,1421,1505,9744,304,367
prediction,5.0,5.0,5.0,5.0,5.0,5.0,5.0,4.997246,4.974154,4.967247

In [23]:
recomm_trending = coll.trending_RS(2941,dense_user_item,popu_matrix,neighboor_size=40,top_K=10,norm=True)
recomm_trending.transpose()

100%|██████████| 2735/2735 [00:03<00:00, 841.29it/s]

,436,21484,21836,25180,45235,162878,222,2296,17532,104606
prediction,5.0,5.0,5.0,5.0,5.0,5.0,4.999551,4.981263,4.980764,4.975991

(Too) many prediction are actually higher than 5 (it can happens if the average of U is higher than average of V, but V rated highly some movie in question -> around 6.1 value)

That's really annoying and didn't really found solution

So just redoing the formula without normalization

In [24]:
recomm_hybdrid_not = coll.hybdrid_RS(2941,dense_user_item,popu_matrix,neighboor_size=40,top_K=10)
recomm_hybdrid_not.transpose()

100%|██████████| 2314/2314 [00:02<00:00, 1082.34it/s]

,406,304,976,1421,370,2142,2091,510,353,823
prediction,4.901905,4.874165,4.855651,4.836609,4.835321,4.823942,4.816726,4.814931,4.806469,4.792606

In [25]:
recomm_pop_not = coll.popularity_RS(2941,dense_user_item,popu_matrix,neighboor_size=40,top_K=10)
recomm_pop_not.transpose()

100%|██████████| 2314/2314 [00:02<00:00, 1081.73it/s]

            683   723   951   1194  2142  2404  2480  2670  4014  8302
prediction   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0   5.0

In [26]:
recomm_classic_not = coll.classic_RS(2941,dense_user_item,neighboor_size=40,top_K=10)
recomm_classic_not.transpose()

100%|██████████| 2314/2314 [00:02<00:00, 1056.78it/s]

,406,441,304,510,1421,370,791,2091,976,353
prediction,4.934164,4.89475,4.843908,4.835631,4.829056,4.827579,4.825802,4.819454,4.809523,4.803953

In [27]:
recomm_trending_not = coll.trending_RS(2941,dense_user_item,popu_matrix,neighboor_size=40,top_K=10)
recomm_trending_not.transpose()

100%|██████████| 2735/2735 [00:02<00:00, 932.39it/s]

,846,21836,170829,300,635,496,25180,697,1703,3062
prediction,4.972729,4.971559,4.965847,4.96424,4.956401,4.949133,4.942534,4.925877,4.924197,4.907823

## First complete try

In [2]:
#Pretty sexy :D
application()

Exception in Tkinter callback
Traceback (most recent call last):
  File "/home/vincent/miniconda3/envs/social/lib/python3.9/tkinter/__init__.py", line 1892, in __call__
    return self.func(*args)
  File "/home/vincent/unifr/sp22/social_media/SMA_Project/helper/application.py", line 16, in algorithm
    user = int(entry.get("1.0",'end-1c'))
ValueError: invalid literal for int() with base 10: 'Type a n2941ame'
100%|██████████| 2735/2735 [00:03<00:00, 859.07it/s]
100%|██████████| 2314/2314 [00:02<00:00, 1001.44it/s]
100%|██████████| 2314/2314 [00:02<00:00, 968.30it/s]
100%|██████████| 2314/2314 [00:02<00:00, 996.40it/s]
100%|██████████| 2314/2314 [00:02<00:00, 989.32it/s]

## Name test

In [12]:
dict_name = create_fake_identities(dense_user_item.index)
dict_name

{2941: 'Kayla Cunningham',
 15344: 'Ashley Ray',
 29237: 'Kevin Patton',
 78410: 'Charles Lamb',
 83575: 'Daniel Ingram',
 94978: 'Sarah Walker',
 99812: 'Heather Jones',
 114207: 'Brian Boyle',
 118841: 'Michelle Andrews',
 182362: 'Jodi Nichols',
 200681: 'Luis Hernandez',
 204061: 'Christopher Salas',
 225373: 'Kristopher Blanchard',
 230594: 'Jordan Rogers',
 234133: 'Joshua Kim',
 243873: 'Michele Mckinney',
 257723: 'Madison Wallace',
 282614: 'Tara Lang',
 325746: 'Michael Turner',
 373153: 'Richard Erickson',
 397936: 'Erin Cameron',
 400845: 'Dennis Jacobson',
 404311: 'Kathleen Michael',
 410815: 'Chelsea Gamble',
 426717: 'John Jackson',
 452234: 'Kathryn Camacho',
 457561: 'Jacqueline Morales',
 463202: 'Tiffany Vasquez',
 468202: 'David Paul',
 483726: 'Jason Robbins',
 509673: 'Daniel Blackburn',
 518214: 'Henry Fuentes',
 529544: 'Breanna Bowen',
 543478: 'Evan Jackson',
 557693: 'Kelly Roberts',
 561705: 'Matthew Solis',
 577908: 'Joshua Golden',
 636968: 'Anna Jones',
 637678: 'Eric Lopez',
 664294: 'Katherine Tucker',
 666335: 'Katherine Reynolds',
 676666: 'Tyler Roberts',
 698904: 'Lauren Hill',
 705692: 'Thomas Oneal',
 738641: 'Sandra Ruiz',
 795539: 'Paul King',
 802728: 'Taylor Peterson',
 815436: 'Kristi Fletcher',
 848121: 'Natalie Anderson',
 861653: 'Ashley Smith',
 864980: 'Monica Mullen',
 883625: 'Elizabeth Oconnell',
 896127: 'Eileen Boyd',
 942061: 'Shelley Espinoza',
 952730: 'Dawn Pugh',
 1013543: 'James Ramirez',
 1052416: 'Jeff Garcia',
 1083151: 'Anthony Smith',
 1113283: 'Michael French',
 1198156: 'Jimmy Diaz',
 1213677: 'Marcus Hughes',
 1255552: 'Michele Smith',
 1299535: 'Mr. Matthew Smith',
 1333985: 'Mary Mcmahon',
 1356008: 'Cheryl Shaw',
 1390205: 'Diane Pierce',
 1416701: 'Mark Patterson',
 1416703: 'Shelly Fox',
 1439230: 'Ethan Garza',
 1465812: 'Andrew Keller',
 1473349: 'Antonio Jennings MD',
 1481433: 'Robert Hunter',
 1489655: 'Jenna Hamilton',
 1528801: 'Annette Hughes',
 1529409: 'Sheri Brown',
 1540182: 'Paul Robinson',
 1654627: 'Gwendolyn Kelly',
 1699242: 'Nathan Harrington',
 1700769: 'Roger Ross',
 1716815: 'James Walker',
 1766650: 'Michelle Thompson',
 1788779: 'Glenn Matthews',
 1866858: 'Matthew Compton',
 1905630: 'Anthony Vazquez',
 1956067: 'Stephanie Stevens',
 1962645: 'Kristin Ewing',
 1989448: 'Cassandra Jenkins',
 2001760: 'Austin Ibarra',
 2005713: 'Jennifer Shah',
 2019647: 'John Rosales Jr.',
 2031362: 'Anna Lee',
 2091715: 'Kevin Daniel',
 2101178: 'Gina Herman',
 2111828: 'Ethan Cook',
 2133147: 'Amber James',
 2178361: 'Kristi Meza',
 2200579: 'Patrick Hall',
 2223097: 'Mark Robertson',
 2238921: 'Stephanie Robinson',
 2251394: 'Lindsay Larson',
 2307431: 'Melissa Goodwin',
 2320121: 'Paula Stanley',
 2323028: 'Melissa Williams',
 2332311: 'Bradley Thompson',
 2345758: 'Morgan Mitchell',
 2401624: 'Sheila Miller',
 2446170: 'Steven Stevens',
 2452551: 'Laura Ortega',
 2453479: 'Jason Watson',
 2466706: 'Gina Hardy',
 2503711: 'Diane Johnson',
 2591449: 'Peter Andrews',
 2599846: 'Julie Perez',
 2602809: 'Vincent Smith',
 2623902: 'Jonathan Davis',
 2645114: 'Kevin Martin',
 2649325: 'Dale Thomas DDS',
 2713023: 'Julie Juarez',
 2716811: 'Lisa Fowler',
 2716898: 'John Hart',
 2732379: 'Jacob Moreno',
 2733941: 'Michael Payne',
 2763506: 'Joann James',
 2780539: 'Michael Miller',
 2793028: 'James Pacheco',
 2800833: 'Cindy Cooper',
 2816854: 'Jason James',
 2901043: 'Michael Maldonado',
 2921495: 'Luis Holland',
 2923244: 'Amanda Farrell',
 2992490: 'Amy Jackson',
 3022390: 'Lauren Mills',
 3046694: 'Stephen Jones',
 3088333: 'Maria Brown',
 3103998: 'Aaron Reilly',
 3106925: 'Kyle Goodwin',
 3115908: 'Jason Webb',
 3116062: 'Tamara Hunt',
 3156823: 'Mr. Mark Dunlap',
 3174045: 'Luis Farrell',
 3199655: 'Steven Rodriguez',
 3200543: 'Leslie Cole',
 3216667: 'Seth Sanchez',
 3244566: 'John Blair',
 3245364: 'James Smith',
 3249347: 'Sandra Acevedo',
 3259212: 'Dale Hart',
 3269394: 'Mary Miller',
 3300667: 'Christina Daniels',
 3331158: 'Jonathan Herrera',
 3342009: 'Dawn Dennis',
 3364518: 'Tina Rivera',
 3370029: 'James Graves',
 3383147: 'Brett Mckinney',
 3416342: 'Jennifer Bowers',
 3435568: 'John Jacobs',
 3471137: 'Kimberly Kent',
 3499043: 'Robert Lopez',
 3500370: 'John Joseph',
 3523375: 'Curtis Phillips',
 3549488: 'Cheryl Turner',
 3558168: 'Jacqueline Cisneros',
 3579459: 'Hannah Thomas',
 3593588: 'John Chambers',
 3597275: 'Sean Strong',
 3652208: 'Patrick Wilson MD',
 3713838: 'Zachary Avila',
 3717811: 'Rachel Ramos',
 3718408: 'Jaime Brown',
 3724708: 'Ricardo Thornton',
 3738822: 'Tyler Moore',
 3753816: 'James Cherry',
 3805817: 'Valerie Smith',
 3809387: 'Frederick Morgan',
 3840016: 'Holly Crawford',
 3853504: 'Edward Curry',
 3866280: 'Eric Adkins',
 3871019: 'Travis Harvey',
 3871967: 'Danny Smith',
 3887978: 'Erica Reilly',
 3896728: 'David Scott',
 3917415: 'Jason Gibson',
 3922744: 'Brian Wilson',
 3980359: 'Gregg Fisher',
 3997435: 'Denise Rodriguez',
 4049168: 'Joseph Alexander',
 4061138: 'Steven Keith',
 4134835: 'Tracy Smith DVM',
 4149663: 'Jonathan Ford',
 4178315: 'William Conley',
 4208563: 'Elizabeth Walker',
 4237134: 'Casey Spears',
 4305754: 'Elizabeth Stephenson',
 4339521: 'Manuel Davis',
 4407134: 'Calvin Hess',
 4441133: 'Cynthia Foster',
 4459795: 'Tammy Brooks',
 4461449: 'Kathleen Adams',
 4467590: 'Kayla Foster',
 4473661: 'Jennifer Norman',
 4492746: 'Michael Mills',
 4494349: 'Daniel Webb',
 4502430: 'Ryan Thomas',
 4530186: 'Deborah Lopez',
 4568483: 'Kristen Robinson',
 4713996: 'Michael Jacobs',
 4750086: 'Catherine Gibbs',
 4757708: 'Eric Jones',
 4778400: 'Richard Horn',
 4792040: 'Raymond Kemp',
 4814811: 'Susan Lindsey',
 4814813: 'Jerome Ryan',
 4827849: 'Patricia Nelson',
 4929932: 'Mr. Matthew Warren',
 4936608: 'Brenda Christensen',
 5120954: 'Tina Bernard',
 5139988: 'Mary Randall',
 5144804: 'Helen Gardner',
 5161000: 'Stephanie Thomas',
 5256266: 'Nicholas Perez',
 5262198: 'Jacob Richmond',
 5317070: 'April Elliott',
 5320603: 'Corey Douglas',
 5330447: 'Eric Key',
 5333081: 'Anthony Maldonado',
 5404489: 'Michael Harrell',
 5411302: 'Scott Dyer',
 5468895: 'Kevin James',
 5560548: 'Julie Camacho',
 5567202: 'Frank Bell',
 5578342: 'Judith Grant',
 5590609: 'Gilbert Cooper',
 5604906: 'Victoria Williams',
 5610291: 'Timothy Parker',
 5627368: 'George Ortiz',
 5646287: 'Christian Davidson',
 5658549: 'Mr. James Ramirez',
 5690895: 'Linda Lozano',
 5727708: 'Carrie Roberts',
 5767373: 'Tammy Anderson',
 5778496: 'Shawn Rodriguez',
 5791120: 'Clifford Adams',
 5930564: 'Lisa Wilson',
 6043345: 'Scott Fleming MD',
 6053518: 'Sandra Giles',
 6061143: 'Dylan Smith',
 6066449: 'Melissa Johns',
 6067539: 'William Hernandez',
 6085901: 'Colleen Holloway',
 6093891: 'Vanessa Lee',
 6104540: 'Sharon Wright',
 6125258: 'Nicholas Horne',
 6142796: 'Ms. Elizabeth Sanchez',
 6208117: 'Katelyn Delgado',
 6213787: 'Johnny Allen',
 6237060: 'Brendan Gonzalez',
 6268489: 'Michael Huerta DDS',
 6286140: 'Adam Phillips',
 6287494: 'Michael Salinas',
 6294655: 'Adriana Francis',
 6313247: 'Sandra Wilson',
 6393136: 'Alex Haley',
 6413313: 'James Weaver',
 6419760: 'Oscar Schmidt',
 6514777: 'Jessica Jones',
 6515965: 'Matthew Bowers',
 6524284: 'Lisa Thompson',
 6558092: 'Garrett Middleton',
 6563413: 'Stephen Davis',
 6576329: 'Robert Lee',
 6602884: 'Rebecca Torres',
 6606518: 'Matthew Ellison',
 6626178: 'Cynthia Romero',
 6688505: 'Heidi Williams',
 6715187: 'Maria Long',
 6736701: 'Allison Fleming',
 6786689: 'Diana Harris',
 6791912: 'Zachary Pierce',
 6808562: 'Troy Perez',
 6853597: 'Christopher Lopez',
 6870620: 'Benjamin Phillips',
 6941706: 'David Duncan',
 6949996: 'Kimberly Stone',
 6962709: 'Samuel Rodriguez',
 6981044: 'Anthony Roberts',
 6991460: 'Jennifer Garcia',
 7029344: 'Julie Mcgee',
 7051818: 'Christine Smith DDS',
 7100856: 'Jerry Freeman',
 7104196: 'Brian Berg',
 7134984: 'John Curtis',
 7138829: 'Brooke Young',
 7151671: 'Catherine Thompson',
 7161990: 'Rebecca Park',
 7171467: 'Jermaine Murphy',
 7173429: 'Lisa Thomas',
 7186161: 'Nathan Medina',
 7186237: 'Justin Johnson',
 7223691: 'Mr. Brendan Reyes',
 7237899: 'Mrs. Sandra Brooks',
 7271192: 'Kevin Bridges',
 7272606: 'Mark Luna',
 7297047: 'Molly Cruz',
 7299440: 'Kelly Morse',
 7318395: 'Cynthia Smith',
 7336667: 'Derrick Johnson',
 7357570: 'Rebecca Silva',
 7369447: 'Amanda Jacobs',
 7374254: 'Christopher Zimmerman',
 7420885: 'Michelle Garcia MD',
 7426246: 'Timothy Wheeler',
 7471610: 'Ryan Thompson',
 7576919: 'Jose Bradley',
 7605630: 'Michelle Meyer',
 7614253: 'Eric Hernandez',
 7635526: 'Samuel Hall',
 7715113: 'Karen Howe',
 7723849: 'Erin Wilson',
 7782448: 'Johnathan Gray',
 7808831: 'Kenneth Whitaker',
 7813734: 'Norman Preston',
 7840485: 'Laura Cherry',
 7894406: 'Emily Adams',
 7959217: 'Bryan Ellis',
 7974237: 'Tammy Gregory',
 8069395: 'Joseph Grant',
 8074042: 'Richard Gordon',
 8075259: 'Michael Arnold PhD',
 8137951: 'Deanna Parker',
 8151726: 'Emily Contreras',
 8342875: 'Kristie Hall',
 8347299: 'Mark Robertson',
 8366783: 'Michael Bowman',
 8380881: 'Willie Rodriguez',
 8436728: 'Curtis Campbell',
 8439513: 'Thomas Lawson',
 8444494: 'Felicia Snyder',
 8474652: 'Aaron Lam',
 8480228: 'Anthony Brooks',
 8480292: 'Gloria Bailey MD',
 8510607: 'Rachel Gonzalez',
 8516503: 'Aaron Young',
 8558435: 'Natalie Allison',
 8561386: 'Matthew Weiss',
 8564755: 'Lisa Green',
 8588170: 'Tammy Robinson',
 8601216: 'Heather Gregory',
 8626754: 'Tara Foster',
 8649385: 'Sonia Castro',
 8652666: 'Kendra Thomas',
 8662456: 'James Gilbert',
 8666703: 'Melvin Hudson',
 8697153: 'Charles Wright',
 8742704: 'Tiffany Olsen',
 8784343: 'Angelica Castro',
 8834790: 'Tammy Parker',
 8837157: 'Crystal Hines',
 8854501: 'Miranda Wise',
 8871486: 'Dr. Jessica Jensen DDS',
 8934810: 'Miss Mackenzie Hernandez',
 8979959: 'Mary Evans',
 9126786: 'Ian Warner',
 9144515: 'Ronnie Williams',
 9161763: 'Christopher Williams',
 9166786: 'Shawn Hunter',
 9235437: 'Nathan Caldwell',
 9281274: 'Michelle Fox',
 9295784: 'Evan Miranda',
 9315002: 'Jeffrey Shaw',
 9338192: 'Lance Curry',
 9338360: 'Brent Gonzalez',
 9426724: 'Debbie Lewis',
 9431536: 'Sarah Simon',
 9433557: 'Chelsea Cooley',
 9448346: 'Kathleen Price',
 9513179: 'Natalie Simpson',
 9533174: 'Jennifer Foster',
 9553064: 'Joseph Jones',
 9582993: 'Jennifer Gomez',
 9593397: 'Nicholas Frazier',
 9594251: 'Carrie Williams',
 9633944: 'Christopher Simmons',
 9646094: 'Jacqueline Johnson',
 9684140: 'Robert Cruz',
 9697961: 'Chad Reed',
 9698269: 'Gregory King',
 9763128: 'Tiffany Ramos',
 9773761: 'Christine Garcia',
 9820140: 'Lauren Stewart',
 9873777: 'Elizabeth Townsend',
 9918048: 'Brian Parrish',
 9918234: 'Andrea Orr',
 9942722: 'Christina Taylor',
 9950203: 'Walter Bonilla',
 9954883: 'Nancy Vazquez',
 9962933: 'Jacqueline Gonzalez',
 10040458: 'Kristin Leon',
 10097793: 'Todd Mitchell',
 10113055: 'Daniel Garcia',
 10122072: 'Clifford Day',
 10139377: 'Allison Pennington',
 10142443: 'Elizabeth Owens',
 10179045: 'Justin Logan',
 10240462: 'Gary Hall',
 10240601: 'Paula Wilson',
 10250279: 'Alexis Jackson',
 10264094: 'Courtney Baker',
 10276605: 'Rachel Aguilar',
 10278147: 'Stephanie Hudson',
 10278620: 'Peter Gray',
 10295901: 'Tracy Moore',
 10305560: 'Christopher Franklin',
 10376909: 'Felicia Kelley',
 10382222: 'Paula Shannon',
 10386642: 'Dawn Barry',
 10449481: 'John Crawford',
 10458662: 'Tommy Alexander',
 10467750: 'Shannon Wilkins',
 10470454: 'Anthony Massey',
 10480285: 'Erik Mitchell Jr.',
 10498519: 'Adam Sullivan',
 10502685: 'Allison Chambers',
 10561337: 'Jennifer Preston',
 10562923: 'Nichole Sanchez',
 10566730: 'Jennifer Mack',
 10591583: 'Nathan Cantu',
 10605440: 'Teresa Powell',
 10619686: 'Teresa Vazquez',
 10622984: 'Sheryl Black',
 10624766: 'Erin Gould',
 10687885: 'Michele Shelton',
 10707788: 'Mr. Mark Beard',
 10763587: 'Ricky Klein',
 10782188: 'April Miller',
 10870084: 'Melissa Morrison',
 10883442: 'Whitney Torres',
 10885633: 'Julia Powers',
 10896286: 'Peter Larson',
 10942671: 'Kimberly Moran',
 10979867: 'Samuel Tapia',
 11017275: 'Kenneth Bell',
 11098395: 'Gabriel Fry',
 11136885: 'Sarah Ramsey',
 11145703: 'Alexis Garrison',
 11152643: 'Teresa Bennett',
 11174102: 'Allen Quinn',
 11185958: 'Brian Phillips',
 11213208: 'Sara Meyer',
 11234507: 'Amber Morris',
 11309530: 'Brian Bird',
 11356423: 'Pamela Lowery',
 11394821: 'Audrey Jones',
 11430535: 'Angela Turner',
 11441859: 'Sean English Jr.',
 11495393: 'Matthew Martin',
 11529102: 'Christopher Howe',
 11649882: 'Katelyn Walker',
 11716063: 'Maria Webb',
 11725444: 'Susan Castro',
 11726458: 'Alexander Bird',
 11747575: 'Marc Dixon',
 11754234: 'Michael Cunningham',
 11770476: 'Allen Bishop',
 11774699: 'Anna Walker',
 11919240: 'Mrs. Nancy Walker MD',
 11981397: 'Susan Wheeler',
 12011913: 'Margaret James',
 12039209: 'Maria Smith',
 12084796: 'Scott Hardin',
 12095933: 'Scott Williams',
 12146829: 'Michael Rios',
 12153289: 'Christopher Turner',
 12247960: 'Scott Mays',
 12292305: 'Stephanie Mcguire',
 12295046: 'Amanda Vaughan',
 12314331: 'Ronald Cohen',
 12316294: 'Judy Mcdonald',
 12386602: 'Tyler Maldonado',
 12397271: 'David Gordon',
 12409849: 'Alex Baker',
 12415197: 'Timothy Coleman',
 12430567: 'Henry Sanchez',
 12490436: 'Andre Thomas',
 12510619: 'Thomas Christian',
 12511522: 'Kenneth Mcintosh',
 12517282: 'Kevin Leblanc',
 12546530: 'Kimberly Lamb',
 12548682: 'Dawn Horton',
 12630338: 'Stacy Martinez',
 12688415: 'Erik Miller',
 12741063: 'Janet Monroe',
 12774226: 'Christina Davis',
 12779883: 'Sherry Mcclain',
 12798636: 'Caitlyn Wagner',
 12829430: 'Derrick Gomez',
 12893438: 'Danielle May',
 12906775: 'Samuel Smith',
 12907630: 'Pamela Malone',
 12920765: 'Daniel Howard',
 12951156: 'Michael Kim',
 12977356: 'Lauren Tran',
 12988660: 'Angelica Cummings',
 13000667: 'James Williamson',
 13020904: 'Mrs. Stephanie Henry',
 13021669: 'Melanie Smith',
 13043944: 'Tara Hurst',
 13083312: 'Kristine Hancock',
 13089248: 'Beth Scott',
 13093109: 'Wendy Mcgee',
 13147718: 'James Carter',
 13234463: 'Brittany Rodgers',
 13245545: 'Margaret Goodman',
 13293765: 'Shannon Mccormick',
 13313675: 'Michael Harris',
 13315244: 'Chad Fields',
 13317565: 'Melissa Gonzalez',
 13320001: 'Aaron Aguilar',
 13322160: 'Anthony Bailey',
 13323526: 'John Reese',
 13356872: 'Kim Estrada',
 13358407: 'Jessica Taylor',
 13369624: 'William Johnson',
 13468098: 'Robert Watkins',
 13470783: 'Calvin Ware',
 13523854: 'Ashley Smith',
 13531575: 'Marcus Tate',
 13557237: 'Benjamin Ortiz',
 13566264: 'Kim Clark',
 13603902: 'Rebecca Case',
 13631620: 'Carol Rodriguez',
 13670724: 'Brittany Curry',
 13715787: 'Gregory Carter',
 13720934: 'Linda Wallace',
 13736419: 'Diane Yoder',
 13745365: 'Erica Gonzalez',
 13755785: 'Alexandra Colon',
 13782481: 'Douglas Rice',
 13808298: 'Larry Obrien',
 13820258: 'Susan Salas',
 13829819: 'Ms. Maria Nguyen',
 13858859: 'Erika Martinez',
 13901701: 'Amanda Gilbert',
 13902535: 'Alison Rodriguez',
 13933422: 'Steve Lewis',
 13990863: 'Hannah Mack',
 14013114: 'William Robinson',
 14017603: 'Mary Brown',
 14021566: 'Kimberly Turner',
 14025926: 'Robert Johnson',
 14052640: 'Bradley Young',
 14057551: 'Jodi Bates',
 14061656: 'Jordan Andrade',
 14063723: 'Ivan Gallagher',
 14077199: 'Stephanie Villarreal',
 14084232: 'David Fields',
 14202146: 'Melissa Bowman',
 14288826: 'Anna Sanchez',
 14301263: 'Jessica Rose',
 14309304: 'Tara Orozco',
 14317862: 'Alex Johnson',
 14336938: 'Karl Baldwin',
 14343424: 'Samuel Roy',
 14351031: 'Adrienne Merritt',
 14361993: 'Benjamin Gilbert',
 14369465: 'David Fox MD',
 14384312: 'Michael Gill',
 14389543: 'Thomas Williams',
 14435518: 'Raymond Ray',
 14450498: 'Bryan Taylor',
 14467119: 'Dustin Webb',
 14470794: 'Jonathan Edwards',
 14508560: 'Amanda Brown',
 14527840: 'Dustin Benson',
 14536104: 'Nicole Simpson',
 14536381: 'Brett Myers',
 14561968: 'Todd Lopez',
 14587112: 'Jeffrey Carr',
 14596639: 'Juan King',
 14649956: 'Robert Nguyen',
 14657774: 'Nicole Gibson',
 14665411: 'Jacob Hernandez',
 14686638: 'Priscilla Tyler',
 14708942: 'Mary Ramirez',
 14734928: 'Kyle Smith',
 14745562: 'Leah Mayer',
 14778347: 'Alexandria Lopez',
 14795404: 'Donna Rodriguez',
 14837772: 'John Maldonado',
 14913309: 'Casey Winters',
 14955307: 'Jeffrey Gibson',
 15029352: 'Molly Hill',
 15035657: 'Rachel Carson',
 15057673: 'Brian Wright',
 15062428: 'Sabrina Washington',
 15085264: 'Lauren Reilly',
 15111799: 'Matthew Strickland',
 15114276: 'Cheyenne Lopez',
 15117829: 'Matthew Moore',
 15166238: 'Jeffrey Butler',
 15195978: 'Lisa Cole',
 15226837: 'James Green',
 15234661: 'Jenny Garcia',
 15240401: 'Allen Rowland',
 15246434: 'Richard Jones',
 15298320: 'Robin Andersen',
 15316698: 'Emily Murphy',
 15346826: 'Heather Kerr',
 15373156: 'Melissa Sanchez',
 15414469: 'Angelica Jackson',
 15535668: 'Emily Hughes',
 15603711: 'Gregory Hubbard',
 15665769: 'Sarah Wagner',
 15720652: 'Monica Erickson',
 15745463: 'Mary Hardy',
 15754735: 'Sydney Dixon',
 15805013: 'Rachael Cochran',
 15808711: 'Scott Hendrix',
 15812313: 'Courtney Griffin',
 15815616: 'Elizabeth Taylor',
 15820283: 'Elizabeth George',
 15831318: 'Kristi Grimes',
 15854178: 'Stephanie Phillips',
 15910270: 'Julia Short',
 15957082: 'Evelyn Price',
 15967472: 'Tanya Molina',
 15968799: 'Lauren Harrington',
 15981809: 'Alexandra Rice',
 16006925: 'Angela Johnson',
 16192326: 'Ruben Maldonado',
 16208542: 'Brandy Rollins',
 16251285: 'Allison Thompson',
 16257500: 'Matthew Hernandez',
 16265006: 'Jonathan Carlson',
 16279529: 'Thomas Lambert',
 16287985: 'Larry Montgomery Jr.',
 16329984: 'Carolyn Smith',
 16357641: 'Katelyn Scott',
 16368093: 'Charles Castillo',
 16389301: 'Steven Henry',
 16422912: 'Alexis Robertson',
 16447037: 'Steven Burgess',
 16447278: 'Edward Montgomery',
 16463171: 'Ms. Lisa Rich',
 16528712: 'Natasha Mcclure',
 16579278: 'Brandon Davis',
 16592686: 'Kevin Liu',
 16592766: 'Eric Wallace',
 16661080: 'Daniel Gilbert',
 16666978: 'Kimberly Jackson',
 16694781: 'Timothy Johnson',
 16698930: 'Karen Anderson',
 16712679: 'Susan Smith',
 16782505: 'Angela Wilcox',
 16837023: 'Amanda Smith',
 16853739: 'Nicholas Marsh',
 16859393: 'Cameron Parker',
 16861463: 'Cassie Hall',
 16913750: 'Brianna Hart',
 16932594: 'Caitlin Chen',
 16964828: 'Kim Taylor',
 16974854: 'John Brown',
 16979059: 'Anne Garrett',
 17013671: 'Stacy Parker',
 17029585: 'Cathy Alvarado',
 17040034: 'Brittany Stone',
 17049900: 'Samuel Wood',
 17078907: 'Gregory Santiago',
 17178276: 'Robert Wyatt',
 17183970: 'Charles Garcia',
 17224746: 'Margaret Smith',
 17243928: 'Peter Collins',
 17271045: 'Andrew Hamilton',
 17275515: 'Alejandro Vasquez',
 17280587: 'James Lane',
 17286924: 'Melissa Smith',
 17301938: 'Linda Maldonado',
 17303840: 'Kimberly Robinson',
 17304186: 'Kimberly Mitchell',
 17312107: 'Wendy Wood',
 17363281: 'Kevin Thompson',
 17469175: 'Kari Levine',
 17470057: 'Aaron Baker',
 17473897: 'Rachel Little',
 17485253: 'Amber Mcdaniel',
 17492530: 'Molly Kirby',
 17518464: 'Stuart Ramos',
 17527739: 'Harold Burch',
 17559220: 'Ryan Mccormick',
 17612937: 'Amanda Christensen',
 17664111: 'Robert Potter',
 17697414: 'Colton Ward',
 17698499: 'Sandra Day',
 17710171: 'Lisa Long',
 17721857: 'Mary Nichols',
 17752321: 'Krystal Mccoy',
 17752905: 'Erica Taylor',
 17778158: 'Leah Wolf',
 17825296: 'David Dominguez',
 17870014: 'Jeff Wang',
 17874319: 'Gina Martin',
 17893708: 'Derrick Sullivan',
 17941804: 'Harry Patterson',
 17959352: 'Ricardo Atkins',
 17968952: 'Aaron Sanders',
 17993803: 'Karen Leblanc',
 18007489: 'Angela Taylor',
 18023154: 'Ashlee Perez',
 18023377: 'Maria Webb',
 18032303: 'Timothy Whitehead',
 18090659: 'Robert Santiago',
 18094421: 'Richard Rasmussen',
 18103431: 'Michael Stewart',
 18114092: 'Steven Young',
 18123857: 'Sara Knapp DDS',
 18143750: 'Hannah Gonzalez',
 18148898: 'Julie Fritz',
 18157300: 'Brian Kelley',
 18173845: 'Sarah Rowland',
 18249557: 'Lisa Rodriguez',
 18270535: 'Kelsey Jarvis',
 18281635: 'William Blackburn',

In [13]:
dict_name.keys()[dict_name.values().index("Kayla Cunningham")]

AttributeError: 'dict_values' object has no attribute 'index'

In [14]:
from faker import Faker

In [16]:
fake = Faker()

dir = {fake.name() : id for id in dense_user_item.index}

dir

{'Tara Henry': 2941,
 'Dr. Connor Rodriguez': 15344,
 'Nicholas Cain': 29237,
 'Susan Bennett': 78410,
 'Dr. William Bryan': 83575,
 'Courtney Miller': 94978,
 'Ronald Donovan': 99812,
 'Glenn Jones': 114207,
 'Krystal Olson': 118841,
 'Beth Ballard': 182362,
 'Tony Carter': 200681,
 'Mike Crawford': 204061,
 'Alan Adams': 225373,
 'Jamie Green': 230594,
 'Alex Sullivan': 234133,
 'Eric Jones': 51134155,
 'Paul Li': 257723,
 'Kristin Johnson': 282614,
 'Angela Reese': 325746,
 'Judy Mayo': 373153,
 'Kimberly Pham MD': 397936,
 'Ashley Dawson': 400845,
 'Tammy Schneider': 404311,
 'Nicole Patterson': 410815,
 'Angelica Jarvis MD': 426717,
 'Thomas Taylor': 452234,
 'Melissa Harrison': 457561,
 'Amber Garrett': 463202,
 'Anthony Diaz': 468202,
 'Maurice Griffin': 483726,
 'Ryan Madden': 509673,
 'Ivan Harrington': 518214,
 'Donald Hoffman': 529544,
 'Tony Hill': 543478,
 'Laura Scott': 557693,
 'Eric Wilkins': 561705,
 'Jason Sanchez': 577908,
 'Mark Baker': 636968,
 'William Miller': 637678,
 'Aaron Miller': 664294,
 'Michael Miller': 666335,
 'Paula Gentry': 676666,
 'Frederick Kemp': 698904,
 'Stacy Perez': 705692,
 'Jessica Edwards': 738641,
 'Heather Jones': 795539,
 'Erin Wood': 802728,
 'Dominique Sawyer': 815436,
 'Phillip Rivera': 848121,
 'Tiffany Johnson': 861653,
 'Michele Ferguson': 864980,
 'Danielle Montgomery': 883625,
 'Casey Brennan': 896127,
 'Jeremy Gonzalez': 942061,
 'Rick Lopez': 952730,
 'Amy Baker': 66745516,
 'Christian Dennis': 1052416,
 'Kevin Salazar': 1083151,
 'Brenda Webb': 1113283,
 'Jonathan Vega': 1198156,
 'Stephanie Hunter': 1213677,
 'Rachel Williams': 1255552,
 'Richard Skinner': 1299535,
 'Timothy Walters': 1333985,
 'Diana Simmons': 1356008,
 'Cindy Walters': 1390205,
 'Carla Moses': 1416701,
 'Melissa Jackson': 1416703,
 'Abigail Alexander': 1439230,
 'Dustin Lucas DVM': 1465812,
 'Ernest Dickerson': 1473349,
 'Karen Smith': 1481433,
 'Jacob Cabrera Jr.': 1489655,
 'Nancy Jackson': 1528801,
 'Monique Bell': 1529409,
 'Julie Willis': 1540182,
 'Jenna Brady': 1654627,
 'Denise Frederick': 1699242,
 'Robert Martinez': 1700769,
 'Paul Anderson': 52158525,
 'Deborah Riley': 1766650,
 'Deanna Chen': 1788779,
 'Carl Baker': 1866858,
 'Michael Rodriguez': 1905630,
 'Heather Silva': 1956067,
 'Timothy Gutierrez': 1962645,
 'Wesley Palmer': 1989448,
 'Edward Johnson': 2001760,
 'Stacey Becker': 2005713,
 'Andrew Gill': 2019647,
 'Michele Johnson': 2031362,
 'Adam Smith': 2091715,
 'Joseph Smith': 2101178,
 'Justin Robinson': 2111828,
 'Savannah Hudson': 2133147,
 'Michelle Bates': 2178361,
 'Kayla Torres': 2200579,
 'Vicki Jennings': 2223097,
 'Marilyn Morrison': 2238921,
 'Michele Oneal': 2251394,
 'Mr. Bryan Green Jr.': 2307431,
 'Jamie Benton': 2320121,
 'Jason Hall': 2323028,
 'Vincent Martin': 2332311,
 'Maria Hernandez': 2345758,
 'Dr. William Olson': 2401624,
 'William Brown': 2446170,
 'Laura Carr': 2452551,
 'Suzanne Flores': 2453479,
 'Yvonne Mcguire': 4530186,
 'Daniel Martinez': 2503711,
 'Diana Hicks': 2591449,
 'Brian Peterson': 2599846,
 'Charles Melton': 2602809,
 'Karen Wolf': 2623902,
 'Mr. Elijah Ross DDS': 2645114,
 'Jennifer Rodriguez': 5778496,
 'John Martin': 89805852,
 'Jessica Contreras': 2716811,
 'David Wilson': 2716898,
 'Stacy Bennett': 2732379,
 'Tiffany Ferguson': 2733941,
 'Gregory Beltran': 2763506,
 'Noah Hinton': 2780539,
 'Carolyn Hill MD': 2793028,
 'Katie Shaffer': 2800833,
 'Jennifer Herrera': 2816854,
 'Ronnie Ponce': 2901043,
 'Natalie Harris': 2921495,
 'Linda Steele': 2923244,
 'Kevin Patterson': 2992490,
 'Elizabeth Webb': 3022390,
 'Richard Clark': 3046694,
 'Briana Walker': 3088333,
 'Lisa Leon': 3103998,
 'Lawrence Cruz': 3106925,
 'Donald Clark': 3115908,
 'Samantha Ford': 3116062,
 'Rebecca Rogers': 3156823,
 'Ryan Fitzpatrick': 3174045,
 'Paul Richard': 3199655,
 'Laura Graves': 3200543,
 'Erika Reed': 3216667,
 'Lori Fernandez': 3244566,
 'Selena Forbes': 3245364,
 'Jeremy Jones': 3249347,
 'Carrie Anderson': 3259212,
 'Dana Christensen': 3269394,
 'Michelle Koch': 3300667,
 'Ronald Lambert': 3331158,
 'Hannah Cox': 3342009,
 'Kevin Rivera': 3364518,
 'Kerri Drake': 3370029,
 'Heather Jenkins': 3383147,
 'Anthony Shannon': 3416342,
 'Kevin Harris': 3435568,
 'Andrew Wolfe': 3471137,
 'Debra Ramirez': 3499043,
 'Eric Griffin': 3500370,
 'Kathleen Lopez': 3523375,
 'Jane Schaefer': 3549488,
 'Julie Jackson': 3558168,
 'David Klein': 3579459,
 'Alicia Atkins': 3593588,
 'Alexander Wilson': 3597275,
 'Michael Fritz': 3652208,
 'Brandi Smith': 3713838,
 'Anthony Johnston': 3717811,
 'Blake Miller': 3718408,
 'Mark Day': 3724708,
 'Lisa Gamble': 3738822,
 'Sherry Cobb': 3753816,
 'Amanda Barry': 3805817,
 'Kelly Walker': 3809387,
 'Elizabeth Bowers': 3840016,
 'Deborah Brady': 3853504,
 'Michael Jacobs': 3866280,
 'Samuel Cunningham': 3871019,
 'John Grant': 3871967,
 'Erica Moore': 3887978,
 'Kim Jones': 3896728,
 'James Jarvis': 3917415,
 'Melissa Herrera': 3922744,
 'Nancy Heath': 3980359,
 'Kimberly Allen DDS': 3997435,
 'Kristin King': 4049168,
 'Eric Robinson': 4061138,
 'Diana Ferguson': 4134835,
 'Eric Gilbert': 4149663,
 'Jared Morris': 4178315,
 'Michael Wolf': 4208563,
 'Joshua Salazar': 4237134,
 'Monica Martin': 4305754,
 'Tasha Pugh': 4339521,
 'Susan Bridges': 4407134,
 'Kevin Strickland': 4441133,
 'Diamond Rice': 4459795,
 'Ashley Kim': 4461449,
 'Robert Vang': 4467590,
 'Kenneth Benson': 4473661,
 'David Walker': 17874319,
 'Brittany Chavez': 4494349,
 'Kathryn Young': 4502430,
 'Rachel Martinez': 4568483,
 'Keith Johnson': 4713996,
 'Charles Juarez': 4750086,
 'Kristi Brown': 4757708,
 'Debra Martinez': 4778400,
 'Bradley Hall': 4792040,
 'Lauren Peters': 4814811,
 'Katherine Stout': 4814813,
 'Sarah Sanchez': 4827849,
 'Kim Brown MD': 4929932,
 'Jeffery Taylor': 4936608,
 'Steve Hayes': 5120954,
 'Gary Wong': 5139988,
 'Dawn Perez': 5144804,
 'Jennifer Craig': 5161000,
 'Cody Morton': 5256266,
 'Dylan Wade': 5262198,
 'Peggy Walls': 5317070,
 'Julie Ramirez': 5320603,
 'Amanda Smith': 5330447,
 'George Bryan': 5333081,
 'Jeremy Graham': 5404489,
 'Leonard Edwards': 5411302,
 'Kathleen Palmer': 5468895,
 'Rebecca Campbell': 5560548,
 'George Williams': 5567202,
 'Bryan Johns': 5578342,
 'Michael Wright': 5590609,
 'Theresa Calhoun': 5604906,
 'Mario Hahn': 5610291,
 'Natasha Davis': 5627368,
 'Caroline Sanchez': 5646287,
 'Andrew Mccoy': 5658549,
 'Erin Yang': 5690895,
 'Todd Garcia': 5727708,
 'Karen Wilson': 5767373,
 'Sandra Ruiz': 5791120,
 'Amanda Hernandez': 60464492,
 'Jean Diaz': 6043345,
 'Joe Montes': 6053518,
 'Patricia Scott': 6061143,
 'Christy Hale': 6066449,
 'Jason Landry': 6067539,
 'Jeremy Mendoza': 6085901,
 'Marie Jackson': 6093891,
 'Krystal Bridges': 6104540,
 'Alan Scott': 6125258,
 'James Crawford': 6142796,
 'Cheryl Nelson': 6208117,
 'Alice Griffin': 6213787,
 'Sonya Brown': 6237060,
 'Ronald Welch': 6268489,
 'Dawn Gibson': 6286140,
 'Richard Liu': 6287494,
 'Ronnie Hayes': 6294655,
 'Benjamin Kelley': 6313247,
 'Kathryn Jones': 6393136,
 'Craig Campbell': 6413313,
 'Angela Carpenter': 6419760,
 'Jessica Powell': 6514777,
 'Morgan Villa': 6515965,
 'Justin Joseph': 6524284,
 'Benjamin Scott': 6558092,
 'Anne David': 6563413,
 'Samuel Franco': 6576329,
 'Carrie Lester': 6602884,
 'Jennifer Fischer': 6606518,
 'Sheila Fletcher': 6626178,
 'Pam Edwards': 6688505,
 'Travis Dixon': 6715187,
 'Joel Hall': 6736701,
 'Cheryl Martinez': 6786689,
 'Kathleen Alexander': 6791912,
 'Fernando Bell': 6808562,
 'Mike Snow': 6853597,
 'Donna Young': 6870620,
 'Sally Rodriguez': 6941706,
 'Sean Kim': 6949996,
 'Rhonda Clements': 6962709,
 'Denise Lewis': 6981044,
 'Madison Baker': 6991460,
 'Julia Wade': 7029344,
 'Dr. Amanda Brown': 7051818,
 'Daniel Walls': 7100856,
 'Laurie Bishop': 7104196,
 'Linda Dyer': 7134984,
 'Yolanda Smith': 7138829,
 'Phillip Tran': 7151671,
 'Heidi Morrison': 7161990,
 'Patricia King': 7171467,
 'Michael Clements': 7173429,
 'Brittany Vargas': 7186161,
 'Timothy Larson': 7186237,
 'Gabrielle Schmitt': 7223691,
 'Jennifer Griffin': 7237899,
 'John Russell': 7271192,
 'Joe Hammond': 7272606,
 'Donna Owen': 7297047,
 'Jimmy Hines': 7299440,
 'Natasha Garcia': 7318395,
 'Jaime Cameron': 7336667,
 'Gregory Moore': 7357570,
 'Alec Vance': 7369447,
 'Regina Bullock MD': 7374254,
 'Jeremy Atkins': 7420885,
 'Jeffrey Cruz': 7426246,
 'Virginia Robbins': 7471610,
 'John Reeves': 7576919,
 'Tammy Jackson': 7605630,
 'Rachel Bernard': 7614253,
 'David Pacheco PhD': 7635526,
 'Karen Clark': 7723849,
 'Ronald Clark': 7782448,
 'Christina Kemp': 7808831,
 'Katie Morgan': 7813734,
 'Amanda Hatfield': 7840485,
 'Jacob Morton': 7894406,
 'Scott Rodriguez': 7959217,
 'Victoria Higgins': 36793317,
 'Jason Mckinney': 8069395,
 'Matthew Sloan': 8074042,
 'Daniel Osborne': 8075259,
 'Natasha Rasmussen': 8137951,
 'Kimberly Jacobs': 8151726,
 'Andrew Diaz': 8342875,
 'Amanda Miller': 8347299,
 'Tabitha Holt': 8366783,
 'Thomas Torres': 8380881,
 'Russell Kirk': 8436728,
 'Shannon Smith': 8439513,
 'Andrew Wilson': 8444494,
 'Mark Bell PhD': 8474652,
 'Jaime Baxter MD': 8480228,
 'Michael Stevenson': 8480292,
 'Thomas Harrison': 8510607,
 'Mark Jones': 39754338,
 'Vanessa Thomas': 8558435,
 'Lonnie Harding': 8561386,
 'Cathy Gibson': 8564755,
 'Timothy Nielsen': 8588170,
 'Patrick Lowe': 8601216,
 'Kevin Morgan': 8626754,
 'Dennis Scott': 8649385,
 'Connie Jones': 8652666,
 'Marcus Williams': 8662456,
 'Taylor Fleming': 8666703,
 'Amanda Warren': 8697153,
 'Jason Green': 8742704,
 'Grace Parrish': 8784343,
 'Amber Moore': 8834790,
 'Daniel Yu': 8837157,
 'Paul Coleman': 8854501,
 'Megan Peck': 8871486,
 'Jason Waters': 8934810,
 'Pamela Mckenzie': 8979959,
 'David Ho': 9126786,
 'Matthew Manning': 9144515,
 'Teresa Gregory': 9161763,
 'Karen Mooney': 9166786,
 'Jennifer Reynolds': 9235437,
 'Nichole Weeks': 9281274,
 'Dustin Holmes': 9295784,
 'Stephanie Boyd': 9315002,
 'Raymond Ross': 9338192,
 'Felicia Guerrero': 9338360,
 'Travis Steele': 9426724,
 'Ronald Hendricks': 9431536,
 'Peter Smith': 56095099,
 'Jennifer Mason': 9448346,
 'Andrew Harrell': 9513179,
 'Scott Gardner': 9533174,
 'Ian Cole': 9553064,
 'Amanda Jackson': 9582993,
 'Phillip Aguirre': 9593397,
 'Michelle Jarvis': 9594251,
 'Matthew Patel': 9633944,
 'Tracy Smith': 9646094,
 'William Smith': 69057907,
 'Steven Nguyen': 9697961,
 'Matthew Nelson': 9698269,
 'Stephen Brady': 9763128,
 'Jessica Wong': 9773761,
 'Mitchell Hernandez': 9820140,
 'Wendy Lee': 9873777,
 'Deborah Harmon': 9918048,
 'Cody Carney': 9918234,
 'Mary Ramos': 9942722,
 'Tara Hines': 9950203,
 'Amanda Torres': 9954883,
 'Diane Mata': 9962933,
 'Tracey Smith': 10040458,
 'Rick Navarro': 10097793,
 'Shannon Leon': 10113055,
 'Mary Sanchez': 10122072,
 'Katrina Griffith': 10139377,
 'Michael Wong': 10142443,
 'Sabrina Sheppard': 10179045,
 'Rhonda Rivera': 10240462,
 'Shannon Rhodes': 10240601,
 'Caitlin Brennan': 10250279,
 'Darlene Dawson': 10264094,
 'Deborah Cisneros': 10276605,
 'Amanda Nelson': 10278147,
 'Matthew Odom': 10278620,
 'Michael Rowland': 10295901,
 'Toni Miller': 10305560,
 'Jennifer Daniels': 10376909,
 'Brenda Thompson': 10382222,
 'Kimberly Rowland': 10386642,
 'Lawrence Fox': 10449481,
 'Selena Goodwin': 10458662,
 'Tonya Curtis': 10467750,
 'Scott Durham': 10470454,
 'Carla Ramirez': 10480285,
 'Alyssa Cortez': 10498519,
 'James Long': 10502685,
 'Jeffrey Gonzales': 10561337,
 'Meagan James': 10562923,
 'Brendan Robinson MD': 10566730,
 'Reginald Perez': 10591583,
 'Jennifer Reed': 10605440,
 'Cindy Saunders': 10619686,
 'Shirley Higgins': 10622984,
 'Michael Hood': 10624766,
 'Matthew Wilson': 10687885,
 'Theresa Davidson': 10707788,
 'Christopher Scott': 10763587,
 'Charles Walker': 10782188,
 'Tiffany Hall': 10870084,
 'Matthew Ford': 10883442,
 'Ricky Dennis': 10885633,
 'Stephanie Collins MD': 10896286,
 'Johnny Adams': 10942671,
 'Joseph Martin': 10979867,
 'Gregory Mayer': 11017275,
 'Ashley Cox': 11098395,
 'Taylor Myers': 11136885,
 'Derek Gill': 11145703,
 'Nicole Cooper': 11152643,
 'Connie Diaz': 11174102,
 'Ashley Baker': 11185958,
 'Wendy Larson': 11213208,
 'Anthony Allison': 11234507,
 'Cody Greer': 11309530,
 'Renee Barton': 11356423,
 'Wanda Perez': 11394821,
 'Deborah Hunt': 11430535,
 'Daniel Ford': 13566264,
 'Joel Huang': 11495393,
 'Rebecca Zimmerman': 11529102,
 'Alicia Kemp': 11649882,
 'Shane Smith': 11716063,
 'Vanessa Atkins': 11725444,
 'Megan Arroyo': 11726458,
 'Julie Cox': 11747575,
 'Charles Ellis': 11754234,
 'Thomas Espinoza': 11770476,
 'Peter Miller': 11774699,
 'Elizabeth Pearson': 11919240,
 'Michael Cervantes': 11981397,
 'Theresa Moore': 12011913,
 'James Meza': 12039209,
 'Lauren King': 12084796,
 'James Williams': 12095933,
 'Jasmine Hall': 12146829,
 'Manuel Figueroa': 12153289,
 'Allen Smith': 12247960,
 'Charles Ward': 12292305,
 'Keith Andrews': 12295046,
 'Taylor Hall': 12314331,
 'Louis Santiago': 12316294,
 'Lauren Castillo': 12386602,
 'Angela Schmidt': 12397271,
 'Anthony Lane': 12409849,
 'Brenda Edwards': 12415197,
 'Kurt Boone': 12430567,
 'Charles Velasquez': 12490436,
 'Andrea Brown': 58717176,
 'Lisa Rowe': 12511522,
 'Sarah Tran': 12517282,
 'Donald Higgins': 12546530,
 'Jack Tran': 12548682,
 'Scott Chapman': 12630338,
 'Kelly Mcmillan': 12688415,
 'Danielle Lee': 12741063,
 'Craig Rodriguez': 12774226,
 'Troy French': 12779883,
 'Kenneth Ward': 12798636,
 'Mrs. Ashley Fitzgerald': 12829430,
 'Cassandra Shelton': 12893438,
 'Andrea Richardson': 12906775,
 'Anthony Miller': 87648868,
 'Anna White': 12920765,
 'Marc Gutierrez': 12951156,
 'Dr. Christopher Jackson': 12977356,
 'Jeffrey Jones': 12988660,
 'Jason Smith': 54917720,
 'Joseph Hoffman': 13020904,
 'Timothy Bell': 13021669,
 'Raymond White': 13043944,
 'Allison Mejia': 13083312,
 'Susan Campbell': 13089248,
 'Jennifer Rogers': 13093109,
 'Hayley Reyes': 13147718,
 'Brenda Black': 90244455,
 'John Dunn': 13245545,
 'Matthew Cain': 13293765,
 'Dustin Dixon': 13313675,
 'John Lawrence': 13315244,
 'Jermaine Hardin': 13317565,
 'Dustin Fischer': 13320001,
 'Shelly Cruz': 13322160,
 'Karen Gonzalez': 89674989,
 'Brian Estrada': 13356872,
 'Colton Nelson': 13358407,
 'Michael Taylor': 13369624,
 'Charles Li': 13468098,
 'Angel Nguyen': 13470783,
 'Bradley Clark': 13523854,
 'Melissa Johnson': 74886816,
 'Stephen Mitchell': 13557237,
 'Joshua Martinez': 13603902,
 'Bethany Vargas': 13631620,
 'Eric Stewart': 13670724,
 'Annette Peters': 13715787,
 'Stacey Ortiz': 13720934,
 'Laura Wilkerson': 13736419,
 'Joanna Johnson': 13745365,
 'Michelle Rodriguez': 13782481,
 'Adam Norton': 13808298,
 'Angela Martin': 13820258,
 'Brittany Pearson': 13829819,
 'Derrick Sanders': 13858859,
 'Rodney Walker': 13901701,
 'Brandon Fuentes': 13902535,
 'John Jenkins': 13933422,
 'Timothy Smith': 34626162,
 'Lynn Rodriguez': 14013114,
 'Megan Rodriguez': 14017603,
 'Ashley Rubio': 14021566,
 'Matthew Edwards': 14025926,
 'Jennifer Campbell': 14052640,
 'Angel Armstrong': 14057551,
 'Keith Graham': 14061656,
 'Christopher Rogers': 14063723,
 'Charles Dillon': 14077199,
 'Douglas Jennings': 14084232,
 'Matthew Cobb': 14202146,
 'John Jones': 14288826,
 'Alex Cox': 14301263,
 'Michael Hutchinson': 14309304,
 'Mary Soto': 14317862,
 'Nicholas Reyes': 14336938,
 'Joanna Evans': 14343424,
 'Zachary Archer': 14351031,
 'Sandra Aguilar': 14361993,
 'Angela Moses': 14369465,
 'Mr. John Nguyen Jr.': 14384312,
 'Tiffany Fox': 14389543,
 'Laurie Anderson': 14435518,
 'Tommy Alvarado': 14450498,
 'Jacob Miller': 14467119,
 'Linda Meyer': 14470794,
 'Gregory Cunningham': 14508560,
 'Ronald Parker': 14527840,
 'Sarah Casey': 14536104,
 'Mary Jackson': 14536381,
 'Joe Baker': 14561968,
 'Benjamin Hunt': 14587112,
 'Mrs. Sandra Patton DDS': 14596639,
 'Tiffany Freeman': 14649956,
 'Kathleen Smith': 14657774,
 'Rachel Washington': 14665411,
 'John Jensen': 14686638,
 'Michelle Williams': 14708942,
 'Laurie Cervantes': 14734928,
 'Amber Conrad': 14745562,
 'Paul Rivera': 14778347,
 'Robert Jennings': 14795404,
 'Natasha Williams MD': 14837772,
 'Daniel Burnett': 14913309,
 'Eric Williams': 14955307,
 'Elizabeth Fernandez': 15029352,
 'Jennifer Hart MD': 15035657,
 'Ryan Alvarez': 15057673,
 'Christopher Cline': 15062428,
 'Christopher Jimenez': 15085264,
 'Michael Brown': 96368255,
 'Toni Stevens': 15114276,
 'James Elliott': 15117829,
 'Jacob Townsend': 15166238,
 'Anthony Thompson': 15195978,
 'Ray Robertson': 15226837,
 'Jamie Martinez': 15234661,
 'William Franklin': 15240401,
 'Rebecca Nelson': 15246434,
 'Robert Mcguire': 15298320,
 'Margaret Cooper': 15316698,
 'Patricia Nunez': 15346826,
 'Karen Burnett': 15373156,
 'Natalie Lee': 15414469,
 'James Friedman': 15535668,
 'Sharon Johnson': 15603711,
 'Dylan Warren': 15665769,
 'Alvin Hernandez': 15720652,
 'Michael Parks': 15745463,
 'Sandra Gross': 15754735,
 'Terri Mcgee': 15805013,
 'Erika Sanchez': 15808711,
 'Barbara Lee': 15812313,
 'Matthew Gonzalez': 15815616,
 'Dennis Peterson': 15820283,
 'William Sanchez': 15831318,
 'Benjamin Bishop': 15854178,
 'Elizabeth Wilson': 15910270,
 'Elizabeth Miller': 15957082,
 'Jennifer Huff': 15967472,
 'Renee Montoya': 15968799,
 'Marcus Mccoy': 15981809,
 'Andrew Wood': 16006925,
 'Jason Diaz': 16192326,
 'Deanna Brown': 16208542,
 'Mario Durham': 16251285,
 'Jeffery Smith': 81755975,
 'Jennifer Mann': 16265006,
 'Mark Young': 16279529,
 'Nathan Flores': 16287985,
 'Lawrence Saunders': 16329984,
 'Joseph Rivera': 16357641,
 'Zachary Gates': 16368093,
 'Lawrence Hall': 16389301,
 'Andrew Washington': 16422912,
 'James Marshall': 16447037,
 'Veronica Vazquez': 16447278,
 'Daniel Harris': 16463171,
 'Sarah Howard': 16528712,
 'Matthew Howard': 95321448,
 'Krystal Thomas': 16592686,
 'Bryan Kelly': 16592766,
 'Cory Brown': 16661080,
 'Debra Sherman': 16666978,
 'Michael Olson': 16694781,
 'Carl Humphrey': 16698930,
 'Michael Bernard': 16712679,
 'Autumn Garza': 16782505,
 'Alexis Martinez': 16837023,
 'Joshua Lopez': 16853739,
 'Manuel Leonard': 16859393,
 'Amber Stewart': 16861463,
 'Megan Campbell': 16913750,
 'Eric Jacobs': 16932594,
 'Vanessa Howell': 16964828,
 'David Reynolds': 16974854,
 'Juan Smith': 16979059,
 'Nicholas Owens': 17013671,
 'Edwin Johnson': 17029585,
 'Diana Harper': 17040034,
 'Paula Padilla': 17049900,
 'Victoria Yang DDS': 17078907,
 'Jeremy Holloway': 17178276,
 'Jeremiah Yoder': 17183970,
 'Arthur Welch': 17224746,
 'Emma Bailey': 17243928,
 'Mark Werner': 17271045,
 'Patricia Michael': 17275515,
 'Tammy White': 17280587,
 'Emily Hawkins': 17286924,
 'Morgan Humphrey': 17301938,
 'Amy Lane': 17303840,
 'Laurie Oliver': 17304186,
 'Angela Maynard': 17312107,
 'Timothy Estes': 17363281,
 'Katie Ortiz': 17469175,
 'Jordan Castro': 17470057,
 'Edward Garrett': 17473897,
 'Lynn Kelly': 17485253,
 'Kelly Flores': 17492530,
 'Michael Bender': 17518464,
 'Lisa Perez': 17527739,
 'Mary Herring': 17559220,
 'Joshua Owens': 17612937,
 'Daniel Phillips': 17664111,
 'Jennifer Murphy': 17697414,
 'Javier Nguyen': 17698499,
 'David Cook': 17710171,
 'Spencer Mack': 17721857,
 'Kimberly Hawkins': 25883864,
 'Karen Zuniga': 17752905,
 'Dawn Peters': 17778158,
 'David Schmitt': 17825296,
 'Joanna Ramirez': 17870014,
 'John Gaines': 17893708,
 'Shannon Sloan': 17941804,
 'Kyle Sanchez': 17959352,
 'Monica Campbell': 17968952,
 'Paul Smith': 17993803,
 'Carlos Ruiz': 18007489,
 'Cynthia Dunn': 18023154,
 'Stephanie Butler': 18023377,
 'Caroline Parks': 18032303,
 'Timothy Maynard': 18090659,
 'Matthew Lopez': 18094421,
 'Danielle Thomas': 18103431,
 'Laura Nunez': 18114092,
 'Kayla Mills': 18123857,
 'Samuel Campbell': 18143750,
 'Dr. Elizabeth Hamilton': 18148898,
 'Tyler Morales': 18157300,
 'Brandon Anderson': 18173845,
 'Shaun Rhodes': 18249557,
 'Wendy Williams': 18270535,
 'Kara Adams': 18281635,
 'Edward Carson': 18285316,
 'Courtney Garcia': 18325145,
 'Penny Rivera': 18338854,
 'Logan Walton': 18360997,
 'Christian Leon': 18388243,
 'Angela Ayala': 18407458,
 'Lauren Massey': 18411962,
 'Jennifer Gonzalez': 21790512,
 'Shannon Alvarado': 18444534,

In [25]:
list(dir.keys())[0]

False